:root {
    --gray-0: #000000;
    --gray-1: #1C1C1C;
    --gray-2: #373737;
    --gray-3: #606060;
    --gray-4: #808080;
    --gray-5: #929292;
    --gray-6: #ADADAD;
    --gray-7: #C8C8C8;
    --gray-8: #E7E7E7;
    --gray-9: #FFFFFF;
    --color-1: rgb(2, 2, 40);
    --color-2: rgb(10, 20, 80);
    --color-3: rgb(20, 40, 120);
    --color-4: rgb(40, 80, 160);
    --color-5: rgb(80, 160, 220);
    --color-6: rgb(160, 220, 250);
    --color-7: rgb(205, 229, 255);
    --color-8: rgb(225, 241, 255);
    --color-9: rgb(240, 243, 255);
    --shadow-2: rgba(0,0,0,0.25);
    --highlite-red: #FF4444;
    --highlite-orange: #FF8B1F;
    --highlite-yellow: #FFD600;
    --highlite-green: #93DB1D;
    --highlite-blue: rgb(19, 145, 255);
    --highlite-purple: #CC00FF;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-grow {
  flex-grow: 1;
}

.hidden {
  display: hidden;
}
