<% 
  use crate::components::navigation::navbar::marketing::Marketing as MarketingNavbar;
%>
<!DOCTYPE html>
<html lang="en-US">

  <%+ head %>

  <body data-bs-theme="dark" data-theme="docs">
    <main>
      <div class="container-fluid bg-primary pb-4 min-vh-100">
        <div class="ellipse-container position-absolute" style="margin: -2rem; height: 100vh; width: 100vw;">
          <div class="ellipse-21" style="width: 35vw; height: 35vh; top: 0vh; left: -7vw"></div>
        </div>
        <%+ alert_banner %>
        <%+ MarketingNavbar::new( user ) %>

        <div class="container">
          <div class="pt-4 pb-5">
            <%+ feature_banner %>
          </div>
          <div class="row position-relative">
            <% include!("nav/side.html"); %>

            <%- content.unwrap_or_default() %>

            <% include!("nav/toc.html"); %>
          </div>
        </div>
        <%- footer %>
      </div>

    </main>

    <div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3"></div>
  </body>
</html>
