<% 
    use crate::templates::components::{
        Breadcrumbs,
        StaticNavLink
    };
    use crate::components::navigation::navbar::web_app::WebApp as WebAppNavbar;
    use crate::components::navigation::left_nav::web_app::WebApp as WebAppLeftNav;
%>

<%
    // collect left nav links for for top nav in mobile view
    let mut left_nav_links: Vec<StaticNavLink> = Vec::new();
    left_nav_links.append(& mut upper_left_nav.links.clone());
    left_nav_links.append(& mut lower_left_nav.links.clone());
%>

<!DOCTYPE html>
<html lang="en-US">
    <%+ head %>
    <body data-bs-theme="dark" data-theme="product">
        <% for component in body_components { %>
        <%+ component %>
        <% } %>
        <main>
            <div class="container-fluid p-0 min-vh-lg-100">
                <div class="row gx-0 min-vh-lg-100 gy-0">
                    <%+ WebAppNavbar::new(left_nav_links, account_management_nav) %>

                    <div class="d-flex">
                        <%+ WebAppLeftNav::new( upper_left_nav, lower_left_nav, dropdown_nav ) %>
    
                        <div class="clear-from-under-navbar flex-grow-1 min-vw-0">
                            <div class="px-4 px-sm-5 py-3" style="position: absolute">
                                <%- Breadcrumbs::render( breadcrumbs ) %>
                            </div>

                            <div class="px-xs-2 px-md-5 overflow-hidden" style="padding-top: 57px;">
                                <div class="webapp-content-max-width-container pt-4">
                                    <%- content.unwrap_or_default() %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3"></div>
    </body>
</html>
