<% 
  use crate::templates::components::GithubIcon;
  use crate::templates::components::PostgresLogo;
  use crate::components::navigation::navbar::marketing_link::MarketingLink;
  use crate::components::static_nav_link::StaticNavLink;

  let solutions_links = vec![
    StaticNavLink::new("Chatbots".to_string(), "/chatbot".to_string()).icon("smart_toy"),
    StaticNavLink::new("Site Search".to_string(), "/test2".to_string()).icon("manage_search").disabled(true),
    StaticNavLink::new("Fraud Detection".to_string(), "/test2".to_string()).icon("e911_emergency").disabled(true),
    StaticNavLink::new("Forecasting".to_string(), "/test2".to_string()).icon("avg_pace").disabled(true),
  ];

  let company_links = vec![
    StaticNavLink::new("About".to_string(), "/about".to_string()).icon("smart_toy"),
    StaticNavLink::new("Careers".to_string(), "/careers/".to_string()).icon("work"),
    StaticNavLink::new("Contact".to_string(), "/contact".to_string()).icon("alternate_email")
  ];

  struct MobileNavs {
    collapse: String, 
    links: Vec<StaticNavLink>
  }

  let mobile_nav_items = vec![
    MobileNavs {
      collapse: "solutions-collapse".to_string(),
      links: solutions_links.clone()
    },
    MobileNavs {
      collapse: "company-collapse".to_string(),
      links: company_links.clone()
    }
  ];
%>

  <div class="sticky-top-nav" data-controller="navigation-navbar-marketing">
    <nav class="navbar-marketing-site horizontal navbar-expand-xl" data-controller="search topnav-styling">
      <div class="container column-gap-4">
        <div class="controls">
          <%+ PostgresLogo::new("/") %>

          <div class="d-flex flex-row gap-1">
            <li class="nav-item d-flex align-items-center d-block d-xl-none">
              <button type="text" class="btn nav-link btn-search-alt border-0 p-0" name="search" data-bs-toggle="modal" data-bs-target="#search" autocomplete="off" data-search-target="searchTrigger" data-action="search#openSearch">
                <span class="material-symbols-outlined">search</span>
              </button>
            </li>
  
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>

        <div class="navbarSupportedContent underline collapse"></div>

        <div class="collapse navbar-collapse drawer-submenu-container navbarSupportedContent" id="navbarSupportedContent">
          <!-- Main Menu -->
          <div class="nav-item w-100 d-xl-flex flex-column flex-xl-row align-items-xl-center collapse collapse-horizontal drawer-submenu <% for item in &mobile_nav_items {%> <%- item.collapse %><% } %> show">
            <ul class="navbar-nav flex-grow-1 gap-4 me-auto my-4 my-xl-0">

              <% if !standalone_dashboard { %>
                <div class="d-none d-xl-flex">
                  <%+ MarketingLink::new()
                      .name("Solutions")
                      .links(solutions_links.clone()) %>
                </div>
                <li class="nav-item d-flex align-items-center d-flex d-xl-none">
                  <a class="nav-link p-0 fw-semibold" href="#" data-bs-toggle="collapse" data-bs-target=".solutions-collapse">Solutions</a>
                </li>

                <%+ MarketingLink::new().link(StaticNavLink::new("Pricing".to_string(), "/pricing".to_string())) %>
              <% } %>

              <%+ MarketingLink::new().link(StaticNavLink::new("Docs".to_string(), "/docs/".to_string())) %>
              <%+ MarketingLink::new().link(StaticNavLink::new("Blog".to_string(), "/blog/speeding-up-vector-recall-5x-with-hnsw".to_string())) %>

              <% if !standalone_dashboard { %>
                <div class="d-none d-xl-flex">
                  <%+ MarketingLink::new()
                      .name("Company")
                      .links(company_links.clone()) %>
                </div>
                <li class="nav-item d-flex align-items-center d-flex d-xl-none">
                  <a class="nav-link p-0 fw-semibold" href="#" data-bs-toggle="collapse" data-bs-target=".company-collapse">Company</a>
                </li>
              <% } %>

              <li class="nav-item d-none d-xl-flex align-items-center">
                <button type="text" class="btn nav-link btn-search-alt border-0 p-0" name="search" data-bs-toggle="modal" data-bs-target="#search" autocomplete="off" data-search-target="searchTrigger" data-action="search#openSearch">
                  <span class="material-symbols-outlined">search</span>
                </button>
              </li>
            </ul>
    
            <ul class="navbar-nav gap-4 mb-2 mb-xl-0">
              <li class="align-items-center d-none d-xl-flex">
                <%+ GithubIcon {show_stars: true} %>
              </li>

              <div class="d-block d-xl-none">
                <%+ MarketingLink::new().link(StaticNavLink::new("GitHub".to_string(), "https://github.com/postgresml/postgresml".to_string())) %>
              </div>


              <div class="mb-5 mt-4 my-xl-0 d-flex flex-column flex-xl-row gap-4">
                <% if !standalone_dashboard { %>
                  <% if current_user.as_ref().is_none() || current_user.as_ref().unwrap().id == -1 { %>
                <li class="nav-item d-flex align-items-center">
                  <a class="btn btn-secondary w-100" data-controller="btn-secondary" data-btn-secondary-target="btnSecondary" href="/login">Sign In</a>
                </li>
                <li class="d-flex align-items-center">
                  <a class="btn btn-primary w-100" href="/signup">Start Your Project</a>
                </li>
                  <% } else { %>
                <li class="nav-item d-flex align-items-center">
                  <a class="btn btn-secondary w-100" data-controller="btn-secondary" data-btn-secondary-target="btnSecondary" href="/logout">Sign Out</a>
                </li>
                <li class="d-flex align-items-center">
                  <a class="btn btn-primary w-100" href="/clusters">Console</a>
                </li>
                  <% } %>
                <% } %>

                <% if standalone_dashboard { %>
                <li class="nav-item d-flex align-items-center ">
                  <a class="btn btn-primary w-100" href="/dashboard">Dashboard</a>
                </li>
                <% } %>
              
              </div>
            </ul>
          </div>


          <!-- subnavs for less than large screens -->
          <% for item in mobile_nav_items { %>
          <div class="nav-item collapse-horizontal <%- item.collapse %> collapse drawer-submenu">
            <ul class="sub-menu-dropdown mb-5 d-flex flex-column gap-3">
              <a class="btn btn-tertiary-web-app" data-bs-toggle="collapse" data-bs-target=".<%- item.collapse%>">
                <span class="material-symbols-outlined icon-back-btn">
                  arrow_back
                </span>
                Back
              </a>
              <% for link in item.links { %>
                <%+ MarketingLink::new().link(
                  StaticNavLink::new(link.name.to_string(), link.href.to_string())
                  .disabled(link.disabled)
                ) %>
              <% } %>
            </ul>
          </div>
          <% } %>
        </div>

      </div>
    </nav>
  </div>

  <% include!("../../../../../templates/components/search_modal.html");%>
