<div data-controller="accordion">
  <div class="accordion" id="accordionExample">
    <% for i in 00..html_contents.len() {%>

    <%
    let expanded = i == selected;
    let target = format!("collapse{}a", i);
    %>

    <div class="accordion-item">
      <div class="accordion-header">
        <div class="d-flex justify-content-between align-items-center w-100" type="button" data-bs-toggle="collapse" data-bs-target="#<%- target %>" aria-expanded=<%- expanded %> aria-controls="<%- target %>">
          <% if small_titles {%>
          <h6 class="mb-0 title"><%- html_titles[i] %></h6>
          <% } else { %>
          <h4 class="mb-0 title"><%- html_titles[i] %></h4>
          <% } %>
          <span class="add material-symbols-outlined">add</span>
          <span class="remove material-symbols-outlined">remove</span>
        </div>
      </div>
      <div id="<%- target %>" class="accordion-collapse collapse <% if expanded {%>show<% } %>" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <%- html_contents[i] %>
        </div>
      </div>
    </div>
    <% } %>

  </div>
</div>
