table.table.table-sm {
  td,
  tr,
  th {
    border-width: 0;
  }

  thead {
    th {
      color: #{$gray-300};
      background: transparent;
      text-transform: uppercase;
      font-size: 12px;
      padding: 12px 0 12px 0;
      border-bottom: 1px solid #{$gray-600};
      font-weight: #{$font-weight-semibold};
    }
  }

  tbody {
    tr {
        font-weight: #{$font-weight-semibold};
        font-size: 16px;

        &:hover {
            --bs-table-hover-bg: transparent;
        }
    }
  }

  border-collapse: separate;
  border-spacing: 0 12px;
}
