table.table.table-lg {
    tr {
        &:first-of-type {
            td {
               .table-cell-content {
                   padding-top: 16px;
               }
            }
        }

        &:hover, &.active {
            div.table-cell-content {
                background: #{$gray-800};
            }
        }

        td {
            vertical-align: middle;
            padding: 8px 0;

            div.table-cell-content-inner {
                background: #{$gray-600};
                padding: 20px 0;
            }

            &:first-of-type {
                div.table-cell-content-inner {
                    padding-left: 67px;
                }
            }

            &:last-of-type {
                div.table-cell-content-inner {
                    padding-right: 67px;    
                }
            }
        }
    }

    &.selectable {
        tbody {
            tr:hover {
                cursor: pointer;
            }
        }
    }

    .table-cell-content {
        height: 100%;
    }
}
