div[data-controller="pages-blog-landing-page"] {
  $base-x: 392px;
  $base-y: 284px;

  .glow-1 {
    z-index: -1;
    top: -10rem;
    left: -5%;

    @include media-breakpoint-down(md) {
      top: -5rem;
      left: 0%;
    }
  }

  .red-1 {
    width: 40rem;
    height: 20rem;
    background: radial-gradient(45.01% 45.01% at 22.72% 36.9%, rgba(57, 210, 231, 0.6) 26.4%, rgba(174, 110, 255, 0.6) 100%);
    filter: blur(192.705px);
  }

  .meta-layout {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: #{$gray-100};
  }

  .doc-card {
    border-radius: 20px;
    overflow: hidden;

    /* Cards/Background Blur */
    backdrop-filter: blur(8px);

    .eyebrow-text {
      color: #{$gray-200};
    }
    &:hover {
      .eyebrow-text {
        @include text-gradient($gradient-green);
      }
    }

    .foot {
      color: #{$gray-300};
    }
    &:hover {
     .foot-name {
       color: #{$gray-100};
      }
    }

    .type-show-image {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
      display: none;
    }
    &:hover {
      .type-show-image {
        display: flex;
      }
    }

    .type-default {
      background: #{$gray-800};
    }
    &:hover {
      .type-default {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
      }
    }
  }

  .small-card {
    width: $base-x;
    height: $base-y;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .long-card {
    width: calc(2 * $base-x + $spacer);
    height: $base-y;
    display: flex;

    .cover-image {
      max-width: calc($base-x - $spacer);
      object-fit: cover;
    }

    .meta-container {
      flex: 1;
      background: #{$gray-800};
    }

    &:hover {
      .meta-container {
        background: #{$gray-700};
      }
    }
  }

  .big-card {
    width: calc(2 * $base-x + $spacer);
    height: calc(2 * $base-y + $spacer);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .feature-card {
    height: 442px;
    width: calc(3 * $base-x + $spacer + $spacer);

    .cover-image {
      width: 33%;
      object-fit: cover;
    }

    .meta-container {
      width: 66%;
      background: #{$gray-800};
    }
    .foot-name {
      color: #{$gray-100};
    }
  
    .eyebrow-text {
      @include text-gradient($gradient-green);
    }

    &:hover {
      .type-default {
        background: #{$gray-700};
      }
    }
  }

  .carousel-item {
    white-space: initial;
    transition-property: margin-left;
    transition-duration: 700ms;
  }

  .carousel-indicator {
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
  }

  .timer-container {
    width: 1rem;
    height: 1rem;
    background-color: #{$gray-700};
    border-radius: 1rem;
    transition: width 0.25s;
  }

  .timer-active {
    .timer {
      background-color: #00E0FF;
      animation: TimerGrow 5000ms;
    }
  }

  .timer {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #{$gray-700};
    animation-fill-mode: forwards;
  }

  @keyframes TimerGrow {
    from {width: 1rem;}
    to {width: 4rem;}
  }

  .timer-pause {
    .timer {
      animation-play-state: paused !important;
    }
  }

}