span[data-controller="headings-blue"] {
    background: linear-gradient(225deg, #3EDCFF 0%, #3E9AFF 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
