root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.py, *.rs]
indent_style = space
indent_size = 4

[*.js]
indent_style = space
indent_size = 2

[*.{html,css}]
indent_style = space
indent_size = 2
