div[data-controller="chatbot"] {
    position: relative;
    padding: 0px;

    #chatbot-inner-wrapper {
        background-color: #{$gray-700};
        min-height: 600px;
        max-height: 90vh;
    }

    #chatbot-left-column {
        padding: 0.5rem;
        border-right: 2px solid #{$gray-600};
    }

    #knowledge-base-wrapper {
        display: none;
    }

    #chatbot-change-the-brain-title,
    #knowledge-base-title {
        font-size: 1.25rem;
        padding: 0.5rem;
        padding-top: 0.85rem;
        margin-bottom: 1rem;
        display: none;
        white-space: nowrap;
    }

    #chatbot-change-the-brain-spacer {
        margin-top: calc($spacer * 4);
    }

    div[data-chatbot-target="clear"],
    .chatbot-brain-option-label,
    .chatbot-knowledge-base-option-label {
        cursor: pointer;
        padding: 0.5rem;
        transition: all 0.1s;
    }

    .chatbot-brain-option-label:hover, div[data-chatbot-target="clear"]:hover {
        background-color: #{$gray-800};
    }

    .chatbot-brain-provider {
        display: none;
    }

    .chatbot-brain-provider,
    .chatbot-knowledge-base-provider {
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
    }

    .chatbot-brain-option-label img {
        padding: 0.5rem;
        margin: 0.2rem;
        background-color: #{$gray-600};
    }

    .chatbot-brain-option-logo {
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #chatbot-chatbot-title {
        padding-left: 2rem;
    }

    #brain-knowledge-base-divider-line {
        height: 0.15rem;
        width: 100%;
        background-color: #{$gray-500};        
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .chatbot-example-questions {
        display: none;
        max-height: 66px;
        overflow: hidden;
    }

    .chatbot-example-question {
        border: 1px solid #{$gray-600};
        min-width: 15rem;
        cursor: pointer;
    }

    #chatbot-question-input-wrapper {
        padding: 2rem;
        z-index: 100;
        background: rgb(23, 24, 26);
        background: linear-gradient(
            0deg,
            rgba(23, 24, 26, 1) 25%,
            rgba(23, 24, 26, 0) 100%
        );
    }

    #chatbot-question-textarea-wrapper {
        background-color: #{$gray-600};
    }

    #chatbot-question-input {
        padding: 0.75rem;
        background-color: #{$gray-600};
        border: none;
        max-height: 300px;
        overflow-x: hidden !important;
    }

    #chatbot-question-input:focus {
        outline: none;
        border: none;
    }

    #chatbot-question-input-button-wrapper {
        background-color: #{$gray-600};
        cursor: pointer;
    }

    #chatbot-question-input-button {
        background-image: url("/dashboard/static/images/chatbot-input-arrow.webp");
        width: 22px;
        height: 22px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #chatbot-question-input-border {
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background: linear-gradient(
            45deg,
            #d940ff 0%,
            #8f02fe 24.43%,
            #5162ff 52.6%,
            #00d1ff 100%
        );
    }

    #chatbot-inner-right-column {
        background-color: #{$gray-800};
    }

    #chatbot-history {
        height: 100%;
        overflow: scroll;
        padding-bottom: 115px;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    #chatbot-history::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    #chatbot-history {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .chatbot-message-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .chatbot-user-message {
    }

    .chatbot-bot-message {
        background-color: #{$gray-600};
    }

    .chatbot-user-message .chatbot-message-avatar-wrapper {
        background-color: #{$gray-600};
    }

    .chatbot-bot-message .chatbot-message-avatar-wrapper {
        background-color: #{$gray-800};
    }

    .chatbot-message-avatar {
        height: 34px;
        width: 34px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 5px;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 0px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 4px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 4px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 16px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 28px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(12px, 0);
        }
    }

    #chatbot-expand-contract-image-wrapper {
        background-color: #444444; 
        cursor: pointer;    
        transition: all 0.1s;
    }

    #chatbot-expand-contract-image-wrapper:hover {
        background-color: #2b2b2b; 
    }
}



div[data-controller="chatbot"].chatbot-expanded {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1022;

    #chatbot-expanded-background {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(15px);
    }
}

#chatbot input[type="radio"]:checked + label {
    background-color: #{$gray-800};
}
#chatbot input[type="radio"] + label div {
    color: grey;
}
#chatbot input[type="radio"]:checked + label div {
    color: white;
}

div[data-controller="chatbot"].chatbot-full {
    #chatbot-change-the-brain-title {
        display: block;
    }
    #chatbot-change-the-brain-spacer {
        display: none;
    }
    .chatbot-brain-provider {
        display: block;
    }
    #knowledge-base-wrapper {
        display: block;
    }
    #brain-knowledge-base-divider-line {
        display: none;
    }
    #clear-history-text {
        display: block !important;
    }
}
