<div data-controller="chatbot">
  <div class="container">
    <div class="row">
      <!-- <div class="col-sm-2"> -->
      <!--   BRAIN -->
      <!-- </div> -->

      <div class="col-md-12">
        <div id="chatbot-messages">
        </div>

        <div id="chatbot-example-questions">
        </div>

        <!-- <Form data-controller="chatbot-form"> -->
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Send a message">
            <span class="input-group-btn">
             <button class="btn btn-default" type="button">Button</button>
            </span>
          </div> 
        <!-- </Form> -->

      </div>
    </div>
  </div>
</div>
