<div id="chatbot" data-controller="chatbot" class="container">
  <div id="chatbot-inner-wrapper" class="d-flex rounded-3 overflow-hidden">
    <div id="chatbot-left-column" class="d-none d-sm-block position-relative">

      <h5 id="chatbot-change-the-brain-title">Change the Brain:</h5>
      <div id="chatbot-change-the-brain-spacer"></div>

      <% for (index, brain) in brains.iter().enumerate() { %>
        <div>
          <input
            type="radio"
            class="btn-check"
            name="chatbot-brain-options"
            id="chatbot-brain-option<%= brain.id %>"
            autocomplete="off"
            value="<%= brain.id %>"
            data-action="chatbot#handleBrainChange"
            <% if index == 0 { %>
              checked
            <% } %>
          />
          <label
            class="chatbot-brain-option-label rounded-2"
            for="chatbot-brain-option<%= brain.id %>"
            data-action="chatbot#handleBrainChange"
          >
            <div class="d-flex flex-row align-items-center gap-2" style="">
              <div class="chatbot-brain-option-logo" style="background-image: url('<%= brain.logo %>');"></div>
              <div class="chatbot-brain-provider"><strong><%= brain.provider %></strong> <%= brain.model %></div>
            </div>
          </label>
        </div>
      <% } %>

      <h5 id="chatbot-change-the-brain-title" class="mt-3">Knowledge Base:</h5>
      <div id="brain-knowledge-base-divider-line"></div>
      <% for (index, knowledge_base) in knowledge_bases_with_logo.iter().enumerate() { %>
        <div>
          <input
            type="radio"
            class="btn-check"
            name="chatbot-knowledge-base-options"
            id="chatbot-knowledge-base-option<%= knowledge_base.id %>"
            autocomplete="off"
            value="<%= knowledge_base.id %>"
            data-action="chatbot#handleKnowledgeBaseChange"
            <% if index == 0 { %>
              checked
            <% } %>
          />
          <label
            class="chatbot-brain-option-label rounded-2 w-100"
            for="chatbot-knowledge-base-option<%= knowledge_base.id %>"
            data-action="chatbot#handleKnowledgeBaseChange"
          >
            <div class="d-flex flex-row align-items-center gap-2" style="">
              <div class="chatbot-brain-option-logo" style="background-image: url('<%= knowledge_base.logo %>');"></div>
              <div class="chatbot-brain-provider"><strong><%= knowledge_base.name %></strong></div>
            </div>
          </label>
        </div>
      <% } %>

      <div class="d-flex flex-row align-items-center gap-2 rounded-2" data-chatbot-target="clear" style="position: absolute; bottom: 0.5rem;" data-action="click->chatbot#clearHistory">
        <div class="chatbot-brain-option-logo" style="">
          <span class="material-symbols-outlined" style="font-size: 30px;">delete</span>       
        </div>
        <div class="chatbot-brain-provider"><strong>Clear History</strong></div>
      </div>
    </div>

    <div id="chatbot-right-column" class="flex-grow-1 d-flex flex-column overflow-hidden">
      <div class="d-flex justify-content-between align-items-center pt-3 pb-3 pe-3 m-0">
        <h3 id="chatbot-chatbot-title" class="mb-0">Chatbot</h3>
        <div id="chatbot-expand-contract-image-wrapper" class="p-1 rounded-2" data-action="click->chatbot#handleExpandClick">
          <img id="chatbot-expand-contract-image" width="28px" height="28px" src="/dashboard/static/images/icons/arrow_expanded.svg"/>
        </div>
      </div>
      
      <div id="chatbot-inner-right-column" class="flex-grow-1 position-relative">
        <div id="chatbot-history" data-action="resize@window->chatbot#handleResize">
        </div>

        <div id="chatbot-question-input-wrapper" class="position-absolute bottom-0 w-100">
          <% for (knowledge_base, questions) in example_questions.iter() { %>
            <div id="chatbot-example-questions-<%=knowledge_base%>" class="chatbot-example-questions flex-wrap gap-2 mb-3">
              <% for (q_top, q_bottom) in questions.iter() { %>
              <div class="chatbot-example-question rounded-2 p-2 flex-grow-1" data-action="click->chatbot#handleExampleQuestionClick" data-value='<%= format!("{} {}", q_top, q_bottom) %>'>
                  <div><strong><%= q_top %></strong></div>
                  <div><%= q_bottom %></div>
                </div>
              <% } %>
            </div>
          <% } %>

          <div id="chatbot-question-textarea-wrapper" class="d-flex position-relative">
            <textarea id="chatbot-question-input" class="flex-grow-1 text-white rounded-start-2 z-1" rows="1" placeholder="Send a message" data-action="keydown.enter->chatbot#handleEnter"></textarea>
            <div id="chatbot-question-input-button-wrapper" class="p-2 d-flex align-items-center rounded-end-2 z-1" data-action="click->chatbot#handleEnter">
              <div id="chatbot-question-input-button" class=""></div>
            </div>
            <div id="chatbot-question-input-border" class="position-absolute rounded-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="chatbot-expanded-background" data-action="click->chatbot#handleExpandClick"></div>
</div>
