[Unit]
Description=PostgresML Administration Panel 
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=www-data
Group=www-data
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=/var/lib/www/pgml-admin
WorkingDirectory=/var/lib/www/pgml-admin
ExecStart=/usr/local/bin/gunicorn pgml_admin.wsgi -w 2 -b 0.0.0.0:8000
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
