{% extends "base.html" %}

{% block main %}
<section>
   <h1><span class="material-symbols-outlined">terminal</span>Console</h1> 
</section>

<div data-controller="console">
  <section>
    <textarea id="codemirror-console" data-console-target="code"></textarea>
    {% csrf_token %}

    <div class="button-container">
      <button data-action="click->console#run" data-console-target="run">Run</button>
    </div>

  </section>

  <section data-console-target="resultSection" class="hidden" id="query-results">
    <h2>Result</h2>

    <div data-console-target="result">

    </div>
    
  </section>

  <section class="hidden" data-console-target="historySection">
    <h2>Query History</h2>

    <ol class="object_list query_list" data-console-target="history">
    </ol>
    
  </section>

</div>
{% endblock %}
