<%
    let image_dimensions = if bigger { "31" } else { "24" };
    let postgres_size = if bigger { "h4 fw-semibold" } else { "h5 fw-normal" };
    let ml_size = if bigger { "fw-bold" } else { "h5 fw-semibold" };
%>

<a class="postgres-logo <%if collapsable {%>left-nav<% } else { %>navbar-brand<% } %>" href="<%- link %>">
    <img <% if hide_owl {%>class="d-none"<% } %>" src="/dashboard/static/images/owl_gradient.svg" alt="PostgresML Logo" height="<%- image_dimensions%>" width="<%- image_dimensions%>">
    <span class="position-relative overflow-visible text-white <%- postgres_size %> mb-0 <% if collapsable {%>collapse collapse-horizontal leftnav-collapse <% } %>">
        Postgres<span class="<%- ml_size %>">ML</span>
    </span>
</a>
