<div data-controller="carousel">
  <% for item in &items {%>
  <template data-carousel-target="template">
    <div class="item-1 w-100 d-inline-block carousel-item">
      <div class="m-auto" style="width: fit-content" data-action="mouseenter->carousel#Pause mouseleave->carousel#Resume">
        <%- item %>
      </div>
    </div>
  </template>
  <% } %>

  <div class="carousel w-100 overflow-hidden" style="height: fit-content; white-space: nowrap" data-carousel-target="carousel">
    <div class="item-1 w-100 d-inline-block carousel-item">
      <div class="m-auto" style="width: fit-content" data-action="mouseenter->carousel#Pause mouseleave->carousel#Resume">
        <% if items.len() > 0 { %>
          <%- items[0] %>
        <% } %>
      </div>
    </div>
  </div>

  <div class="carousel-indicator w-100 mt-4 pt-3">
    <% if items.len() > 1 {
      for _ in 0..items.len() { %>
    <div class="timer-container" data-carousel-target="carouselTimer">
      <div class="timer" ></div>
    </div>
    <% } 
      } %>
  </div>
</div>
