{% extends "base.html" %}
{% load humanize %}

{% block main %}

<section>
  <h1><span class="material-symbols-outlined" style="color: var(--highlite-green)">cloud_upload</span>Upload Successful</h1>
</section>

<section>
  <h2><span class="material-symbols-outlined">data_array</span>Preview</h2>
  
  {% include 'projects/sample.html' %}
</section>

<section>
  <h2><span class="material-symbols-outlined">table_rows</span>Next Steps</h2>
  <p>Your data has been saved in <strong>pgml.{{ table_name }}</strong> table. You can explore the data in the <a href="{% url 'console' %}">Console</a>:</p>
  <div class="markdown-body">
    <pre><code class="language-sql">SELECT * FROM pgml.{{ table_name }}
LIMIT 10</code></pre>
  </div>
<p> All columns were converted to text, so you'll need to cast them to the appropriate data type before training a model, for example:</p>
  <div class="markdown-body">
    <pre><code class="language-sql">CREATE MATERIALIZED VIEW pgml.{{ table_name }}_view AS
SELECT {% for column in columns %}
  CAST({{ column }} AS FLOAT4){% if not forloop.last %},{% else %}
{% endif %}{% endfor %}FROM pgml.{{ table_name }}</code></pre>
  </div>
  <p>You can now run experiments and build models using <a href="{% url 'notebooks' %}">Notebooks</a>:</p>
  <div class="markdown-body">
    <pre><code class="language-sql">SELECT * FROM pgml.{{ table_name }}_view
LIMIT 10</code></pre>
</section>

{% endblock %}
