<% 
  use crate::components::icons::Twitter as twitter_icon;
  use crate::components::icons::Checkmark;
%>

<div data-controller="cards-marketing-twitter-testimonial">
  <div class="card card-dark gap-2 rounded-4">
    <p class="text-soft-white"><%- statement %></p>
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="d-flex flex-row gap-2">
        <img src="<%= image %>" alt="<%= name %>" class="rounded-circle" style="width: 42px; height: 42px;">
        <div class="d-flex flex-column text-white-300">
          <div class="d-flex flex-row gap-1"><p class="m-0"><%- name %></p><% if verified {%><%+ Checkmark::new().twitter() %><% } %></div>
          <p class="m-0">@<%- handle %></p>
        </div>
      </div>
      <%+ twitter_icon::new() %>
    </div>
  </div>
</div>
