<turbo-frame id="cell_{{ cell.cell_number }}">
  <section data-controller="cell" class="notebook-cell {{ cell.get_cell_type_display|lower }}{% if selected %} selected{% endif %}" data-action="click->notebook#selectCell" data-notebook-target="cell">

    {% if edit %}
    <!-- Edit -->
    <div class="notebook-cell-edit">
      <form action="{% url 'notebooks/cell/edit' notebook.pk cell.pk %}" method="post" data-cell-target="form" data-action="cell#play">
        <div class="flex">
          {% csrf_token %}
          <div class="flex-grow">
            <textarea name="contents" data-cell-target="editor">{{ cell.contents }}</textarea>
          </div>
          <div class="flex flex-end">
            <select name="cell_type" data-action="cell#selectCellType" title="Select cell type" data-cell-target="type">
              <option value="3" {% if cell.cell_type == 3 %}selected{% endif %}>SQL</option>
              <option value="1" {% if cell.cell_type == 1 %}selected{% endif %}>Markdown</option>
            </select>
            <button type="submit" class="button notebook-button" title="Execute cell" data-cell-target="play">
              <span class="material-symbols-outlined">play_arrow</span>
            </button>
             <button class="button notebook-button" title="Cancel edit" data-action="cell#cancelEdit">
              <span class="material-symbols-outlined">cancel</span>
            </button>
          </div>
        </div>
      </form>
      <!-- Cancel edit and refetch the cell -->
      <form class="hidden" action="{% url 'notebooks/cell/get' notebook.pk cell.pk %}?bust_cache={{ bust_cache }}" method="get" data-cell-target="cancelEdit">
      </form>
    </div>
    {% endif %}

    <!-- Display -->
    <div>
      <div class="flex">
        <div class="cell-number">{{ cell.cell_number }}</div>
        <div class="flex-grow margin-right-1">
          {% if cell.code %}
          <div class="markdown-body notebook-contents">
            <pre><code class="language-sql">{{ cell.contents }}</code></pre>
          </div>
          {% endif %}

          {% if cell.html %}
            <div class="notebook-rendering" data-turbo="false">
              {{ cell.html }}
            </div>
          {% endif %}
        </div>
          
        {% if cell.code and not edit %}
        <div class="notebook-button">
          <form action="{% url 'notebooks/cell/play' notebook.pk cell.pk %}" method="post" data-action="cell#play">
            {% csrf_token %}
            <button type="submit" title="Execute cell" data-cell-target="play">
              <span class="material-symbols-outlined">
                play_arrow
              </span>
            </button>
          </form>
        </div>
        {% endif %}
        <div class="notebook-button">
          <form action="{% url 'notebooks/cell/remove' notebook.pk cell.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" title="Delete cell">
              <span class="material-symbols-outlined">delete_forever</span>
            </button>
          </form>
        </div>
        <div class="notebook-button">
          <form action="{% url 'notebooks/cell/edit' notebook.pk cell.pk %}?bust_cache={{ bust_cache }}" method="get">
            <button type="submit" title="Edit cell">
              <span class="material-symbols-outlined">edit</span>
            </button>
          </form>
        </div>
      </div>
      {% if cell.execution_time %}
      <div class="notebook-duration">
        <div class="markdown-body">
          <div class="flex flex-row-reverse">
            <code>{{ cell.execution_time }}</code>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
</turbo-frame>
