{% extends "notebooks/base.html" %}

{% block main %}
{% for line in lines %}
<div class="notebook-line {{ line.get_line_type_display|lower }}">
  <div class="flex">
    <div class="line-number">{{ line.line_number }}</div>
    <div class="notebook-line-rendering flex-grow">
      {% if line.line_type == 3 %}
      <div class="notebook-contents">
        <code>
          {{ line.contents }}
        </code>
      </div>
      {% endif %}

      <div class="notebook-rendering">
        {{ line.html }}
      </div>
    </div>
    <div class="button-delete">
      <form action="{% url 'notebooks/line/remove' notebook.pk line.pk %}" method="post">
        {% csrf_token %}

        <button type="submit">x</button>
      </form>
    </div>
  </div>
</div>
{% endfor %}
<div class="notebook-line active">
  <form action="{% url 'notebooks/line/add' notebook.pk %}" method="post" data-notebook-target="newLineForm">
    <div class="flex">
      {% csrf_token %}
      <div class="notebook-line-code flex-grow">
        <textarea data-line-id="new" name="contents" data-notebook-target="newLineCode"></textarea>
      </div>
      <div class="flex flex-end">
        <button type="submit" class="button">Execute</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
