// all other displays are default bootstrap styling
.display-2 {
    font-weight: $font-weight-bold;
    font-size: 4rem;
    line-height: 80px;
}

.h1-big {
    font-weight: $font-weight-bold; font-size: 80px; line-height: 84px;
    @include media-breakpoint-down(md) {
        font-size: 48px; line-height: 52px;
    } 
}
h1, .h1 { 
    font-weight: $font-weight-bold; font-size: 64px; line-height: 72px;
    @include media-breakpoint-down(md) {
        font-size: 44px; line-height: 48px;
    }
}
h2, .h2 {
    font-weight: $font-weight-bold; font-size: 48px; line-height: 54px;
    @include media-breakpoint-down(md) {
        font-size: 40px; line-height: 44px;
    }
}
h3, .h3 {
    font-weight: $font-weight-bold; font-size: 40px; line-height: 46px;
    @include media-breakpoint-down(md) {
        font-size: 32px; line-height: 36px;
    }
}
h4, .h4 {
    font-weight: $font-weight-bold; font-size: 32px; line-height: 40px;
    @include media-breakpoint-down(md) {
        font-size: 28px; line-height: 32px;
    }
}
h5, .h5 {
    font-weight: $font-weight-bold; font-size: 28px; line-height: 34px;
    @include media-breakpoint-down(md) {
        font-size: 24px; line-height: 28px;
    }
}
h6, .h6 {
    font-weight: $font-weight-bold; font-size: 24px; line-height: 30px;
    @include media-breakpoint-down(md) {
        font-size: 20px; line-height: 26px;
    }
}

.eyebrow {
    font-weight: $font-weight-bold; font-size: 18px; line-height: 24px;
    @include media-breakpoint-down(md) {
        font-size: 16px; line-height: 22px;
    }
}

.subcopy-text {
    font-family: Inter;
    font-size: 18px;
    line-height: 22px;
}
.body-text {
    font-size: 16px;
    line-height: 20px;
}
.legal-text {
    font-family: Inter;
    font-size: 12px;
    line-height: 16px;
}

.text-error {
    color: #{$error} !important;
}
.text-black {
    color: #{$gray-900} !important;
}
.text-white {
    color: #{$gray-100} !important;
}
.text-soft-white {
    color: #{$gray-200} !important;
}

@mixin text-gradient($gradient) {
    background: #{$gradient};
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.text-gradient-blue, .syntax-highlight {
    @include text-gradient($gradient-blue);
}
.text-gradient-green {
    @include text-gradient($gradient-green);
}
.text-gradient-orange {
    @include text-gradient($gradient-orange);
}
.text-gradient-pink {
    @include text-gradient($gradient-pink);
}
.text-gradient-purple {
    @include text-gradient($gradient-purple);
}
.text-gradient-party, .party-time {
    @include text-gradient($gradient-text);
}


.marketing-body-large {
    font-size: 20px;
    line-height: 26px;
    color: #{$gray-200};
    @include media-breakpoint-down(md) {
        font-size: 18px;
        line-height: 24px;
    }
}

.marketing-body {
    font-size: 18px;
    line-height: 22px;
    color: #{$gray-200};
    @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 20px;
    }
}
