<turbo-frame id="notebook">
  <div data-controller="notebook">
    
    <div class="card mb-4 z-1" data-notebook-target="menu">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-start align-items-center h-100">
              <button class="btn btn-tertiary d-flex gap-1" data-action="notebook#playAll">
                <span class="material-symbols-outlined fs-5">
                  play_arrow
                </span>
                Run All
              </button>
              <form action="/dashboard/notebooks/<%= notebook.id %>/reset" method="post">
                <button class="btn btn-tertiary d-flex gap-1">
                  <span class="material-symbols-outlined fs-5">
                    replay
                  </span>
                  Clear All Output
                </button>
              </form>
              <button class="btn btn-tertiary d-flex gap-1">
                <span class="material-symbols-outlined fs-5">
                  add
                </span>
                Create New Cell
              </button>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-end align-items-center h-100">
              <button class="btn btn-tertiary d-flex gap-1" data-notebook-target="cellButton" disabled data-action="notebook#playCell">
                <span class="material-symbols-outlined fs-5">
                  play_arrow
                </span>
                Run
              </button>
              <button class="btn btn-tertiary d-flex gap-1" disabled data-action="notebook#playStop">
                <span class="material-symbols-outlined fs-5">
                  stop
                </span>
                Stop
              </button>
              <button class="btn btn-tertiary d-flex gap-1" data-notebook-target="cellButton" disabled data-action="notebook#deleteCell">
                <span class="material-symbols-outlined fs-5">
                  delete
                </span>
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-y-scroll pe-2" data-notebook-target="scroller">
  
      <% for cell in cells {
        let edit = false;
        let bust_cache = std::time::SystemTime::now()
            .duration_since(std::time::SystemTime::UNIX_EPOCH)
            .unwrap_or(std::time::Duration::from_millis(1000))
            .as_millis()
            .to_string();
        let selected = false;
    
        include!("cell.html");
      } %>
    </div>
  
  </div>
</turbo-frame>
