<turbo-frame id="projects">
  <div class="card">
    <div class="card-body">
      <ol class="object_list project_list">
        <% for project in projects { %>
        <li>
          <a href="/dashboard?tab=Project&id=<%= project.id %>" data-turbo-frame="dashboard">
            <span><%= project.name %></span>
            <span>
              <time datetime="<% project.created_at; %>">
                <% project.created_at; %> 
              </time>
            </span>
          </a>
        </li>
        <% } %>
      </ol>
    </div>
  </section>
</turbo-frame>
