div[data-controller="navigation-left-nav-docs"] {
    $collapsed-left-nav-height: 40px;
    --bs-border-color: #{$gray-600};

    &.doc-leftnav-container {
        background-color: #{$gray-800};
        padding-top: 0px;
        border-right: none;
        width: $docs-left-nav-w;
        position: relative;
        z-index: 0;
        display: none;
        overflow: hidden;
    
        @include media-breakpoint-up(xl) {
            height: calc(100vh - $navbar-height);
            position: sticky; 
            top: $navbar-height;
            display: block;
        }
    }
    
    .doc-leftnav {
        @extend .navbar;

        max-width: $docs-left-nav-w;
    
        border: none;
        align-items: start;
        background-color: inherit;
    
        height: 100%;
        overflow: auto;
    
        // default hide scroll bar
        box-sizing: content-box;
        width: calc(100% - 40px);
        padding-right: 28px;
        transition: padding 0.1s;
        // don't do this for firefox since it is already default behavior
        @-moz-document url-prefix() {
            padding-right: 20px;
            box-sizing: border-box;
            width: 100%;
        }       
    }
    
    .show-scroll {
        padding-right: 25px;
        @-moz-document url-prefix() {
        padding-right: 20px;
        }
    }

    .btn-primary-alterations {
        justify-content: start;
        padding: 8px 0px 8px 8px;
        border-radius: 4px;
    }

    .link-section {
        color: #{$gray-300};
        text-transform: capitalize;

        .material-symbols-outlined {
            color: #{$slate-shade-100};
            font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
            font-size: 18px;
        }
    }
    
    .nav-link {
        padding: 8px;
    }

    .purple {
        color: #{$purple};
    }
}
