site_name: PostgresML
site_url: https://postgresml.org/
site_description: Train and deploy models to make online predictions using
                  only SQL, with an open source Postgres extension.
site_author: PostrgesML Team

repo_name: postgresml/postgresml
repo_url: https://github.com/postgresml/postgresml
edit_uri: ""

watch:
- docs
- overrides
- mkdocs.yml

dev_addr: 0.0.0.0:8001

theme:
    name: material
    custom_dir: overrides
    favicon: images/favicon.ico
    logo: images/logo-small.png
    locale: en
    font:
        text: Roboto
        code: Roboto Mono
    highlightjs: true
    hljs_languages:
        - sql
        - bash
    palette:
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: indigo
          accent: blue
          toggle:
              icon: material/toggle-switch
              name: Switch to dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: blue
          accent: blue
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to light mode
    features:
        - navigation.instant
        - navigation.tracking
        - navigation.tabs
        - navigation.top
        - content.code.annotate

extra_css:
    - stylesheets/extra.css

extra:
    social:
        - icon: fontawesome/brands/github
          link: https://github.com/postgresml
        - icon: fontawesome/brands/python
          link: https://pypi.org/project/pgml-extension/
    generator: false

copyright: Copyright &copy; 2022 PostgresML Team

plugins:
    - search
    - include-markdown
    - minify:
        minify_html: true
        minify_js: true
        minify_css: true
        htmlmin_opts:
            remove_comments: true

markdown_extensions:
    - abbr
    - admonition
    - attr_list
    - def_list
    - footnotes
    - meta
    - md_in_html
    - toc:
        permalink: true
    - pymdownx.arithmatex:
        generic: true
    - pymdownx.betterem:
        smart_enable: all
    - pymdownx.caret
    - pymdownx.details
    - pymdownx.emoji:
        emoji_generator: !!python/name:materialx.emoji.to_svg
        emoji_index: !!python/name:materialx.emoji.twemoji
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.keys
    - pymdownx.magiclink:
        repo_url_shorthand: true
        user: squidfunk
        repo: mkdocs-material
    - pymdownx.mark
    - pymdownx.smartsymbols
    - pymdownx.superfences:
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.tasklist:
        custom_checkbox: true
    - pymdownx.tilde

nav:
    - Home: index.md
    - User Guides:
        - Setup:
            - Quick Start with Docker: user_guides/setup/quick_start_with_docker.md
            - Native Installation: user_guides/setup/native_installation.md
            - Distributed Training: user_guides/setup/distributed_training.md
            - GPU Support: user_guides/setup/gpu_support.md
        - Training:
            - Getting Started: user_guides/training/overview.md
            - Algorithm Selection: user_guides/training/algorithm_selection.md
            - Hyperparameter Search: user_guides/training/hyperparameter_search.md
        - Predictions: 
            - Getting Started: user_guides/predictions/overview.md
            - Deploying Models: user_guides/predictions/deployments.md
        - Vector Operations: user_guides/vector_operations/overview.md
        - Dashboard: user_guides/dashboard/overview.md
        - Schema:
            - Models: user_guides/schema/models.md
            - Snapshots: user_guides/schema/snapshots.md
            - Projects: user_guides/schema/projects.md
            - Deployments: user_guides/schema/deployments.md
    - Developer Guide:
        - Overview: developer_guide/overview.md
    - About:
        - Team: about/team.md
        - Roadmap: about/roadmap.md
        - Motivation: about/motivation.md
        - FAQ: about/faq.md
        - License: about/license.md
