{% extends "base.html" %}

{% block main %}
<h1>{{ title }}</h1> 
<table>
  <tbody>
    <tr><th>ID</th><td><a href="{% url 'model' object.id %}">{{ model.id }}</a></td></tr>
    <tr><th>Project</th><td><a href="{% url 'project' object.project.id %}">{{ model.project.name }}</a></td></tr>
    <tr><th>Snapshot</th><td><a href="{% url 'snapshot' object.snapshot.id %}">{{ model.snapshot.relation_name }}</a></tr>
    <tr><th>Algorithm</th><td>{{object.algorithm_name}}</td></tr>
    <tr><th>Status</th><td>{{object.status}}</td></tr>
    <tr><th>Hyperparams</th><td>{{object.hyperparms}}</td></tr>
    <tr><th>Metrics</th><td>
      <table>
        <tbody>
          <tr>
            {% for key, value in object.metrics.items %}
              <th>{{ key }}</th>
            {% endfor %}
          </tr>
          <tr>
             {% for key, value in object.metrics.items %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </td></tr>
    <tr><th>Created</th><td>{{object.created_at}}</td></tr>
    <tr><th>Updated</th><td>{{object.updated_at}}</td></tr>
  </tbody>
</table>
{% endblock %}
