{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block main %}
<section>
  <h1><span class="material-symbols-outlined">model_training</span>{{ object.algorithm_name }}
    {% if object.live %}
      <span class="material-symbols-outlined success">star</span>
    {% else %}
      <span class="material-symbols-outlined">cancel</span>
    {% endif %}
  </h1>

  <dl>
    <dt>Project</dt>
    <dd><a href="{% url 'project' object.project_id %}">{{ object.project.name }}</a></dd>
    <dt>Snapshot</dt>
    <dd><a href="{% url 'snapshot' object.snapshot_id %}">{{ object.snapshot.relation_name }}</a></dd>
    <dt>Created</dt>
    <dd><time datetime="{{object.created_at}}">{{object.created_at | naturaltime}}</time></dd>
  </dl>
</section>

<section>
  <h2>Metrics</h2>
  {% if object.metrics|length > 0 %}
  <dl class="model_metrics">
    {% for key, value in object.metrics.items %}
    {% if key == "search_results" %}
    {% else %}
    <dt>{{ key }}</dt>
    <dd>{{ value | floatformat:"5"}}</dd>
    {% endif %}
    {% endfor %}
  </dl>
  {% else %}
  <i>no metrics</i>
  {% endif %}
</section>

<section>
  <h2>Hyperparams</h2>
  {% if object.hyperparams|length > 0 %}
  <dl class="model_metrics">
    {% for key, value in object.hyperparams.items %}
    <dt>{{ key }}</dt>
    <dd>{{ value }}</dd>
    {% endfor %}
  </dl>
  {% else %}
  <i>no hyperparams</i>
  {% endif %}
</section>

<section>
  <h2>Hyperparam Search - {{ object.search }}</h2>
  {% for param, values in search_params.items %}
    <h3>{{ param }}</h3>
    <pre><code>{{ values }}</code></pre>
    {% for graph, graph_attrs in search_graphs.items %}
      <figure id="graph_{{param}}_{{graph}}"></figure>
    {% endfor %}
  {% endfor %}
</section>

<div data-controller="quick-prediction">
  <section data-quick-prediction-target="step">
    <h2>Quick prediction</h2>
    {% for feature, median in features.items %}
    <div class="input-container">
      <label>{{ feature }}</label>
      <input type="number" name="{{ feature }}" value="{{ median }}" data-quick-prediction-target="feature" />
    </div>
    {% endfor %}
    <div class="button-container">
      <button data-action="click->quick-prediction#predict" data-model-id="{{ object.id }}">Predict</button>
    </div>
  </section>

  <section data-quick-prediction-target="step" class="hidden">
    <h2>Prediction</h2>

    <dl>
      {% for y_column_name in object.snapshot.y_column_name %}
      <dt>{{ y_column_name }}</dt>
      <dd data-quick-prediction-target="prediction"></dd>
      {% endfor %}
    </dl>

    <div class="button-container">
      <button data-action="click->quick-prediction#prevStep">Back</button>
    </div>
  </section>
</div>

<script defer type="module">
  import { renderHyperparam } from '{% static 'js/main.js' %}';

  // Injecting variables into JS from Django templates is best left the pros ;)
  var best_index = {{ best_index|default:0 }};
  {% for name, series in search_results.items %}
    var {{name}} = {{series}};
  {% endfor %}

  {% for param, values in search_params.items %}
    {% for graph, title in search_graphs.items %}
      renderHyperparam("graph_{{param}}_{{graph}}", "{{param}} - {{title}}", "{{title}}", param_{{param}}, best_index, mean_{{graph}}, std_{{graph}});
    {% endfor %}
  {% endfor %}
</script>
{% endblock %}
  
