<turbo-frame id="cell_{{ cell.cell_number }}">
  <section class="notebook-cell notebook-delete-undo" data-controller="cell" data-cell-target="undo">
    <div class="flex">
      <div class="cell-number">{{ cell.cell_number }}</div>
      <p class="flex-grow flex flex-center markdown-body">Cell removed. You have 10 seconds to undo.</p>
      <div class="notebook-button">
        <form action="{% url 'notebooks/cell/remove/undo' notebook.pk cell.pk %}" action="post">
          {% csrf_token %}
          <button type="submit" title="Undo cell delete">
            <span class="material-symbols-outlined">
              replay
            </span>
          </button>
        </form>
      </div>
    </div>
  </section>
</turbo-frame>
