div[data-controller="inputs-range-group-v-2"] {
   input[type="range"] {
      --thumb-height: 20px;
      --track-height: 6px;

      &::-moz-range-track,
        &::-moz-range-progress {
            border-radius: 0;
        }

   }

   input[type="text"] {
     padding-right: 30px;
   }

   .inputs-range-group-v-2-unit {
     margin-left: -33px;
     color: #{$gray-400};
   }
}
