 <div data-controller="inputs-range-group-v-2">
   <input
    class="form-range z-1 overlay-offset mb-3" 
    type="range"
    name="<%= name %>"
    min="<%= min %>"
    max="<%= max %>"
    step="<%= step %>"
    value="<%= value %>"
    data-action="input->inputs-range-group-v-2#onRangeChange <%= actions %>"
    data-inputs-range-group-v-2-target="range"
  >
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="d-flex align-items-center">
        <input
          type="text"
          class="form-control"
          data-action="keyup->inputs-range-group-v-2#onInputChange <%= actions %>"
          data-inputs-range-group-v-2-target="input"
          value="<%= value %>"
        >
        <span class="inputs-range-group-v-2-unit">
          <%= unit %>
        </span>
      </div>
    </div>

    <% if !cost_per_unit.is_empty() { %>
    <div class="col-md-6 col-12">
      <div class="d-flex justify-content-between bg-black align-items-center h-100">
        <span>
          Per <%= unit %>
        </span>
        <span>
          <span class="me-2">$</span>
          <span><%= cost_per_unit %>/hr</span>
        </span>
      </div>
    </div>
    <% } %>
  </div>
</div>
