<%
  let controller_classes = controller_classes.join(" ");
  let card_classes = card_classes.join(" ");
  let body_classes = body_classes.join(" ");
%>
<div data-controller="cards-rgb" class="<%= controller_classes %>">
  <div class="card <%= card_classes %>">
    <div class="card-body <%= body_classes %>">
      <%+ value %>
      <% if let Some(link) = link { %>
        <a href="<%= link %>" class="stretched-link" data-action="<%= link_action %>"></a>
      <% } %>
    </div>
  </div>
</div>
