{% extends "base.html" %}
{% load humanize %}

{% block main %}
<section>
  <h1><span class="material-symbols-outlined">apps</span>Projects</h1> 
  <ol class="object_list project_list">
    {% for project in projects %}
    <li>
      <a href="{% url 'project' project.id %}">
        <span>{{ project.name }}</span>
        <span><time datetime="{{project.created_at}}">{{project.created_at | naturaltime}}</time></span>
      </a>
    </li>
    {% endfor %}
  </ol>

  <div class="button-container">
    <a role="button" href="/projects/new">New project</a>
  </div>
</section>
{% endblock %}
