{% extends "base.html" %}

{% block main %}
<div data-controller="new-project">
  <section>
    <h1><span class="material-symbols-outlined">apps</span>New project</h1> 
  </section>

  <section data-new-project-target="step" data-step-name="project-name">
    <h2>Project name</h2>

    <div class="input-container">
      <input type="text" name="name" placeholder="New unique project name" size="50" data-action="input->new-project#checkProjectNameDebounced" />
      <span class="material-symbols-outlined" data-new-project-target="projectStatus"></span>
    </div>

    <div class="button-container">
      <button class="next" data-action="click->new-project#nextStep" data-new-project-target="projectNameNext" disabled>Next</button>
    </div>
  </section>

  <section data-new-project-target="step" class="hidden" data-step-name="algorithm-type">
    <h2>Task</h2>
    <ol class="task_list">
      <li>
        <a href="#" data-action="click->new-project#selectTask" data-new-project-target="task" data-task="regression">Regression</a>
      </li>
      <li>
        <a href="#" data-action="click->new-project#selectTask" data-new-project-target="task" data-task="classification">Classification</a>
      </li>
    </ol>

    <div class="button-container">
      <button class="next" data-action="click->new-project#nextStep" data-new-project-target="taskNameNext" disabled>Next</button>
      <button class="next" data-action="click->new-project#previousStep">Back</button>
    </div>
  </section>

  <section data-new-project-target="step" class="hidden" data-step-name="data-source">
    <h2>Data source</h2>

    <div class="input-container">
      <input type="text" name="name" placeholder="Table or view name" size="50" data-action="input->new-project#checkDataSourceDebounced" list="table-list" />
      <datalist id="table-list">
        {% for table in tables %}
        <option value="{{ table }}">
          {% endfor %}
      </datalist>
      <span class="material-symbols-outlined" data-new-project-target="tableStatus"></span>
    </div>

    <div data-new-project-target="sample" style="margin-top: 25px;"></div>

    <div class="button-container">
      <button class="next" data-action="click->new-project#nextStep" data-new-project-target="dataSourceNext" disabled>Next</button>
      <button class="next" data-action="click->new-project#previousStep">Back</button>
    </div>
  </section>

  <section data-new-project-target="step" class="hidden" data-step-name="target">
    <h2>Target</h2>

    <ol data-new-project-target="trainingLabel" class="object_list snapshot_list"></ol>

    <div class="button-container">
      <button class="next" data-action="click->new-project#createSnapshot" data-new-project-target="analysisNext" disabled>Run analysis</button>
      <button class="next" data-action="click->new-project#previousStep">Back</button>
    </div>
  </section>

  <section data-new-project-target="step" class="hidden" data-step-name="target">
    <div style="display: flex; justify-content: center; align-items: center;">
      <p>Performing data analysis, this may take a moment...</p>
    </div>

    <div class="progress-bar">
      <div class="progress-bar-loading" data-new-project-target="progressBar">
        <div class="progress-bar-progress" data-new-project-target="progressBarAmount">2%</div>
      </div>
    </div>
  </section>

  <section data-new-project-target="step" class="hidden" data-step-name="error">
    <h2>Error</h2>

    <pre data-new-project-target="projectError">

    </pre>

    <div class="button-container" class="hidden" data-new-project-target="projectResultBack">
      <button class="next" data-action="click->new-project#restart">Restart</button>
    </div>
  </section>

  <section data-new-project-target="step" class="hidden" data-step-name="snapshot">
    <h2>Analysis</h2>

    <div data-new-project-target="analysisResult"></div>

    <div class="button-container">
      <button class="next" data-action="click->new-project#nextStep">Next</button>
    </div>
  </section>

  <section data-new-project-target="step" class="hidden" data-step-name="algorithm">
    <h2>Algorithms</h2>
    <div style="margin-top: 25px" data-new-project-target="algorithmListRegression">
      <ol class="algorithm_list">
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="ridge"><span>Ridge</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="lasso"><span>Lasso</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="elastic_net"><span>ElasticNet</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="least_angle"><span>Lars</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="lasso_least_angle"><span>LassoLars</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="orthoganl_matching_pursuit"><span>OrthogonalMatchingPursuit</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="bayesian_ridge"><span>BayesianRidge</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="automatic_relevance_determination"><span>ARDRegression</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="stochastic_gradient_descent"><span>SGDRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="passive_aggressive"><span>PassiveAggressiveRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="ransac"><span>RANSACRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="theil_sen"><span>TheilSenRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="huber"><span>HuberRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="quantile"><span>QuantileRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="kernel_ridge"><span>KernelRidge</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="gaussian_process"><span>GaussianProcessRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="svm"><span>SVR</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="nu_svm"><span>NuSVR</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="linear_svm"><span>LinearSVR</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="ada_boost"><span>AdaBoostRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="bagging"><span>BaggingRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="extra_trees"><span>ExtraTreesRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="gradient_boosting_trees"><span>GradientBoostingRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="hist_gradient_boosting"><span>HistGradientBoostingRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="random_forest"><span>RandomForestRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="xgboost"><span>XGBRegressor</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="xgboost_random_forest"><span>XGBRFRegressor</span></a></li>
      </ol>
    </div>

    <div style="margin-top: 25px" data-new-project-target="algorithmListClassification">
      <ol class="algorithm_list">
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="ridge"><span>RidgeClassifier</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="stochastic_gradient_descent"><span>SGDClassifier</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="perceptron"><span>Perceptron</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="passive_aggressive"><span>PassiveAggressiveClassifier</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="gaussian_process"><span>GaussianProcessClassifier</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="svm"><span>SVC</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="nu_svm"><span>NuSVC</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="linear_svm"><span>LinearSVC</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="ada_boost"><span>AdaBoostClassifier</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="bagging"><span>BaggingClassifier</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="extra_trees"><span>ExtraTreesClassifier</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="gradient_boosting_trees"><span>GradientBoostingClassifier</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="hist_gradient_boosting"><span>HistGradientBoostingClassifier</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="random_forest"><span>RandomForestClassifier</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="xgboost"><span>XGBClassifier</span></a></li>
        <li><a href="#" data-action="click->new-project#selectAlgorithm" data-algorithm="xgboost_random_forest"><span>XGBRFClassifier</span></a></li>
      </ol>
    </div>
    <div class="button-container">
      <button class="next" data-action="click->new-project#createProject">Create project</button>
      <button class="next" data-action="click->new-project#previousStep">Back</button>
    </div>
  </section>
</div>
{% endblock %}
