{% extends "base.html" %}

{% block main %}
<section>
  <h1><span class="material-symbols-outlined">apps</span>{{ object.name }}</h1>
  <dl>
    <dt>Created</dt>
    <dd>{{object.created_at}}</dd>
  </dl> 
</section>
{% for name, project in projects.items %} 
  <section>
    <h2><span class="material-symbols-outlined">model_training</span>Models</h2>
    <ol class="object_list model_list">
      <li>
          <span></span>
          <span><b>Algorithm</b></span>
          <span><b>{{project.metric | safe}}</b></span>    
          <figure></figure>
      </li>
      {% for model in project.models %}
      <li>
        <a href="{% url 'model' model.id %}">
          <span class="material-symbols-outlined">
            {% if model.live %}
              star
            {% elif model.search == "grid" %}
              grid_on
            {% elif model.search == "random" %}
              shuffle
            {% else %}
              check_circle
            {% endif %}
          </span>
          <span>{{ model.algorithm_name }}</span>
          <span>{{ model.key_metric | floatformat:"3" }}</span>
          <figure id="model_{{model.id}}"></figure>
        </a>
      </li>
      {% endfor %}
    </ol>
  </section>
{% endfor %}

<script defer type="module">
  import { renderModel } from '/static/js/main.mjs';
  function renderCharts() {
  {% for name, project in projects.items %} 
  {% for model in project.models %}
     renderModel({{model.id}}, {{model.key_metric}}, [{{project.min_score}}, {{project.max_score}}])
  {% endfor %}
  {% endfor %}
  };
  renderCharts();
</script>
{% endblock %}
