accelerate==0.16.0
datasets==2.10.1
deepspeed==0.8.1
InstructorEmbedding
lightgbm
pandas==1.5.3
rich==13.3.1
rouge
sacrebleu
sacremoses
scikit-learn
sentencepiece
sentence-transformers==2.2.2
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.64.1
transformers==4.26.1
xgboost
