# The immediate dependencies of PostgresML are maintained here.
# See requirements.linux.txt or requirements.macos.txt for complete and locked versions.

# Specifically locked to avoid known bugs
pyarrow==11.0.0 # newer versions cause Postgres segfaults on OOM

# ML
catboost
lightgbm
torch
torchaudio
torchvision
xgboost

# Transformers
accelerate
auto-gptq; sys_platform == 'linux'
bitsandbytes
ctransformers
huggingface-hub
deepspeed
einops
optimum
peft
tokenizers
transformers
transformers-stream-generator
xformers; sys_platform == 'linux'

# Embeddings
InstructorEmbedding
sentence-transformers

# Ratings
rouge
sacrebleu
sacremoses

# Utils
datasets
orjson
langchain
