div[data-controller="layouts-docs"] {
  $collapsed-left-nav-height: 40px;

  .content-container {
    position: relative;
    min-height: calc(100vh - $navbar-height);
  }

  .glow-container {
    position: absolute; 
    overflow: visible; 
    z-index: -1; 
    overflow: hidden;
    height: 100%;
    width: calc(100vw - 8px); 
    
    @include media-breakpoint-up(xl) {
      width: calc(100vw - $docs-left-nav-w - 8px);
    }
  }

  .drawer-submenu {
    @include media-breakpoint-down(lg) {
        background-color: #{$gray-800};
    }
  }
}