// Center badge content
.badge {
    display: flex;
    justify-content: center;
    align-items: center;
}

.version-badge {
    @extend .badge;
    text-transform: uppercase;
    color: #{$pink};
}

.github-badge {
    $color: $neon-shade-100;
    padding: 4px;

    p {
        margin: 0px;
        background: #{$color};
        border-radius: calc($border-radius / 2);
        padding: 4px;
        font-size: 0.8rem;
        font-weight: 500;
    }

    // Add right pointing arrow 
    &::after {
        content: "";
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        
        border-left: 5px solid #{$color};
    }
}

@mixin deployment-status($color) {
    @extend .badge;
    border-radius: calc($border-radius / 2);
    border: 2px solid $color;
}

.deployment-status-configuring, .deployment-status-creating, .deployment-status-Deploying, 
.deployment-status-unhealthy, .deployment-status-updating {
    @include deployment-status(#{$teal-tint-800});
}

.deployment-status-online, .deployment-status-backingup, .deployment-status-starting {
    @include deployment-status(#{$teal-tint-100})
}

.deployment-status-destroyed, .deployment-status-failover, .deployment-status-stopping, 
.deployment-status-stopped, .deployment-status-restarting, .deployment-status-shuttingDown {
    @include deployment-status(#{$peach-tint-100})
}
