.btn {
    --bs-btn-padding-x: 22px;
    --bs-btn-padding-y: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &[disabled], &:disabled {
        cursor: not-allowed; 
    }

    &.btn-primary {
        border: 0;
        @extend .fw-semibold;
        
        &:hover {
            background: linear-gradient(48.19deg, #D940FF 0%, #8F02FE 24.43%, #5162FF 52.6%, #00D1FF 100%);
        }

        &:active {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(48.19deg, #FB40FF 0%, #BB02FE 24.43%, #00D1FF 100%);
        }
    }

    &.btn-secondary {
        @extend .fw-semibold;
        background-color: transparent;
        --bs-btn-border-color: #{$gray-400};
        --bs-btn-border-width: 2px;
        --bs-btn-hover-border-color: transparent;
        --bs-btn-active-border-color: transparent;
        --bs-btn-padding-x: 20px;
        --bs-btn-padding-y: 10px; 

        // the attached canvas for border in secondary-btn.js
        &> .secondary-btn-canvas {
            position: absolute;
            border: None;
            display: None;
        }
        
        &:hover {
            background-color: transparent;
    
            &> .secondary-btn-canvas {
                display: block;
            }
        }
    
        &:active {
            background-color: transparent;
    
            &> .secondary-btn-canvas {
                filter: brightness(65%);
                display: block;
            }
        }
    }

    &.btn-tertiary {
        color: #{$gray-300};

        &:hover {
            color: #{$gray-100};
            text-shadow: 0 0 0.65px white, 0 0 0.65px white;
        }

        span {
            font-size: 2rem;
        }

        &:active {
            color: #{$gray-100};
            font-weight: 500;
            --bs-btn-active-border-color: transparent;
        }
    }
}

.btn-primary-web-app {
    @extend .btn; 
    border: 0px;
    background-color: #{$neon-shade-100};
    color: #{$gray-100};

    &:hover {
        background-color: #{$neon-shade-300};
    }

    &:active {
        background-color: #{$neon-tint-200};
    }

    &:disabled {
        background-color: #{$gray-500};
    }
}

.btn-tertiary-web-app {
    color: #{$slate-tint-100};
    border-bottom: 2px solid transparent;
    border-radius: 0px;
    width: fit-content;
    padding: 0px;
    gap: 8px;

    span {
        font-size: 2rem;
    }

    &:hover {
        color: #{$slate-tint-400};
        border-bottom-color: #{$slate-tint-400};
    }
    &:active {
        color: #{$slate-tint-700};
        font-weight: 500;
        --bs-btn-active-border-color: transparent;
        border-bottom-color: #{$slate-tint-700};
    }

    &.with-icon {
        &::after {
            content: ">"
        }
    }
}

.btn-code-toolbar {
    @extend .btn; 
    @extend .btn-tertiary; 
    @extend .noselect;

    @extend .z-1;

    color: inherit;
    padding: 0px;

    &:hover {
        color: #{$purple};
        text-shadow: none;
    }

    &:disabled, &[disabled] {
        color: #{$slate-shade-700} !important;
    }
}

.btn-copy {
    @extend .btn-code-toolbar;
    position: absolute; 
    top: 4px;
    right: 4px;
}

.btn-search {
    background-color: transparent;
    border: none;
    width: 15rem;
    border-bottom: 2px solid #{$gray-300};
    color: #{$gray-100};
    padding: 0 0 calc($spacer / 2) 0;
    
    &:hover {
        border-bottom-color: #{$neon-shade-100};
    }

    &:disabled {
        color: #{$gray-500};
        border-bottom: #{$gray-500};
    }

    &> span {
        color: #{$neon-shade-100};
    }
}

.postgres-logo {
    display: flex; 
    align-items: center;
    gap: calc($spacer / 2);
    font-size: 24px;
}

.btn-dropdown {
    @extend .btn;
    border-radius: $border-radius;
    background: #{$gray-700};
    color: #{$gray-100};
    display: flex;
    justify-content: space-between;

    --bs-btn-border-color: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-hover-border-color: #{$neon-shade-100};
    --bs-btn-active-border-color: #{$neon-shade-100};
    --bs-btn-active-bg: #{$gray-700};
    --bs-btn-active-color: #{$gray-100};
    --bs-btn-hover-color: #{$gray-100};

    .material-symbols-outlined {
        color: #{$neon-shade-100};
    }

    &:after {
        content: None;
    }

    &.show {
        .material-symbols-outlined {
            transform: rotate(-180deg);
        }
    }

    .collapase {
        width: 100%;
    }
}

.btn-dropdown-menu-item {
    @extend .menu-item;
    &:after {
        content: None;
    }
}

.btn-side-menu-toggle {
    @extend .btn;
    --bs-btn-padding-x: 0px;
    display: flex;
    font-weight: 700;

    color: #{$gray-100};

    border-radius: 0px;
    --bs-btn-border-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #{$gray-100} !important;
    
    --bs-btn-active-color: #{$gray-100};
    --bs-btn-hover-color: #{$gray-100};
}

.side-menu-toggle-icon {
    margin-left: calc($left-nav-w - 9rem);
    margin-right: 0px;
    
    &.expanding {
        animation-name: expand-margin;
        animation-duration: $animation-timer;
    }

    &.collapsing {
        animation-name: collapse-margin;
        animation-duration: $animation-timer;
        transform: rotate(-180deg);
    }

    &.expanded {
        margin-left: calc($left-nav-w - 9rem); 
        margin-right: 0px;
    }

    &.collapsed {
        margin-left: calc($left-nav-w-collapsed/2 - 32px);
        margin-right: calc($left-nav-w-collapsed/2 - 32px);
        transform: rotate(-180deg);
    }

    &.collapsing {
        height: auto !important;
    }
}

@keyframes collapse-margin {
    from {
        margin-left: calc($left-nav-w - 9rem); 
        margin-right: 0px;
    }
    to {
        margin-left: calc($left-nav-w-collapsed/2 - 32px); 
        margin-right: calc($left-nav-w-collapsed/2 - 32px); 
    }
}
@keyframes expand-margin {
    from {
        margin-left: calc($left-nav-w-collapsed/2 - 32px); 
        margin-right: calc($left-nav-w-collapsed/2 - 32px);
    }
    to {
        margin-left: calc($left-nav-w - 9rem); 
        margin-right: 0px;
    }
}
