.card {
    --bs-card-spacer-y: 32px;
    --bs-card-spacer-x: 32px;
    
    backdrop-filter: blur(8px);

    &.select-hover {
        &:hover {
            --bs-card-border-color: #{$purple};
        }

        &.active {
            --bs-card-border-color: #{$purple};
        }
    }

    &.card-lg {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;
    }
    
    &.gradient-purple {
        background: linear-gradient(48.19deg, #D940FF 0%, #9E02FE 24.43%, #00D1FF 100%) !important;
        border: 0; // This causes breakage.
    }

    &.card-dark {
        background: linear-gradient(260.55deg, rgba(58, 58, 58, 0.245) 15.62%, rgba(53, 51, 56, 0.28) 67.01%); 
    }

    .list-group > .list-group-item {
        padding-left: 0px;
    }
}

.generic-card {
    @extend .card;

    background: linear-gradient(260.55deg, rgba(255, 255, 255, 0.56) 15.62%, rgba(255, 255, 255, 0.28) 67.01%);

    &:hover {
        box-shadow: 20px 20px 24px rgba(49, 67, 89, 0.13);
    }

    > .card-body {
        > .card-img-top {
            margin-bottom: 24px;
        }

        > .card-title {
            font-size: 2rem;
            line-height: 150%;
            font-weight: 700;
        }
    }

}

.feature-card {
    @extend .card, .card-lg, .card-dark;

    --bs-card-title-spacer-y: 1rem;
    
    &:hover {
        background: linear-gradient(260.55deg, rgba(58, 58, 58, 0.54) 15.62%, rgba(53, 51, 56, 0.72) 67.01%);
    }

    > .card-body {
        display: flex; 
        flex-direction: column;
    
        > .card-img-top {
            margin-bottom: 2rem;
        }

        > .card-title {
            font-size: 2rem;
            line-height: 150%;
            font-weight: 700;
        }

        > .card-text {
            margin-bottom: 2rem;
        }

        > .card-btn {
            margin: auto auto 0px auto;
        }
    }
}

.testimonial-card {
    @extend .card;
    @extend .card-lg;

    min-width: Min(25rem, 75vw);
    background: linear-gradient(260.55deg, rgba(255, 255, 255, 0.56) 15.62%, rgba(255, 255, 255, 0.28) 67.01%);

    &> .card-body {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
    }
}

.form-card {
    @extend .card;
    @extend .card-lg;

    min-width: 25vw;
}
