// TODO: Use header classes and slim down card-title class. 
.card {
    --bs-card-spacer-y: 32px;
    --bs-card-spacer-x: 32px;
    
    backdrop-filter: blur(8px);

    &.select-hover {
        &:hover {
            --bs-card-border-color: #{$purple};
        }

        &.active {
            --bs-card-border-color: #{$purple};
        }
    }

    &.card-lg {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;
    }
    
    &.gradient-purple {
        background: $hp-gradient !important;
        border: 0; // This causes breakage.
    }

    &.card-dark {
        background: $gradient-dark; 
    }

    &.card-light {
        background: $gradient-light;
    }

    .list-group > .list-group-item {
        padding-left: 0px;
    }
}

.generic-card {
    @extend .card, .card-light;

    &:hover {
        box-shadow: 20px 20px 24px rgba(49, 67, 89, 0.13);
    }

    > .card-body {
        > .card-img-top {
            margin-bottom: 24px;
        }

        > .card-title {
            font-size: 2rem;
            line-height: $line-height-base;
            font-weight: $font-weight-bold;
        }
    }

}

.feature-card {
    @extend .card, .card-lg, .card-dark;

    --bs-card-title-spacer-y: 1rem;
    
    &:hover {
        background: $gradient-darker;
    }

    > .card-body {
        display: flex; 
        flex-direction: column;
    
        > .card-img-top {
            margin-bottom: 2rem;
        }

        > .card-title {
            font-size: 2rem;
            line-height: $line-height-base;
            font-weight: $font-weight-bold;
        }

        > .card-text {
            margin-bottom: 2rem;
        }

        > .card-btn {
            margin: auto auto 0px auto;
        }
    }
}

.testimonial-card {
    @extend .card, .card-lg, .card-light;

    min-width: Min(25rem, 75vw);

    &> .card-body {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
    }
}

.form-card {
    @extend .card, .card-lg;

    min-width: 25vw;
}
