@mixin dropdown-menu($primary-color: null) {
    padding: 20px 0px 40px 0px;
    overflow-y: auto;

    @if ($primary-color) {
        background-color: #{$primary-color};
    }
}

.dropdown-menu {
    @include dropdown-menu($gray-600);
    max-height: $dropdown-menu-height;
    overflow: hidden;
}

.sub-menu-dropdown {
    @include dropdown-menu();
    border-radius: 0px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.30);
}
