.generic-table {
    .header {
        background: linear-gradient(260.55deg, rgba(58, 58, 58, 0.54) 15.62%, rgba(53, 51, 56, 0.72) 67.01%);

        p {
            font-size: 1.5rem;
            font-weight: 600;
            margin: .5rem 0rem;
        }
    }

    .header-alt {
        background: $gradient-dark;
        backdrop-filter: blur(8px);
    }

    &> * {
        border-bottom: 1px solid #{$gray-600};
        background-color: #{$gray-800};

        p {
            font-weight: 500;
            margin: .5rem 0rem;
        }
    }

    &> .row:first-child {
        border-top-left-radius: $border-radius-xl;
        border-top-right-radius: $border-radius-xl;
        border-bottom: none;
    }

    &> .row:last-child {
        border-bottom-left-radius: $border-radius-xl;
        border-bottom-right-radius: $border-radius-xl;
        border-bottom: none;
    }
}

.log-table {
    @extend .table;

    .entry-FATAL {
        background-color: #{$danger};
    }

    td {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
}
