.tooltip {
    --bs-tooltip-bg: #{$primary};
    --bs-tooltip-color: #fff;
    --bs-tooltip-arrow-width: 0;
    --bs-tooltip-arrow-height: 0;
    --bs-tooltip-margin: 0 0 1rem 0;
    --bs-tooltip-padding-y: 16px;
    --bs-tooltip-padding-x: 16px;
}
