:root {
    --gray-0: #000000;
    --gray-1: #1C1C1C;
    --gray-2: #373737;
    --gray-3: #606060;
    --gray-4: #808080;
    --gray-5: #929292;
    --gray-6: #ADADAD;
    --gray-7: #C8C8C8;
    --gray-8: #E7E7E7;
    --gray-9: #FFFFFF;
    --color-1: rgb(2, 2, 40);
    --color-2: rgb(10, 20, 80);
    --color-3: rgb(20, 40, 120);
    --color-4: rgb(40, 80, 160);
    --color-5: rgb(80, 160, 220);
    --color-6: rgb(160, 220, 250);
    --color-7: rgb(205, 229, 255);
    --color-8: rgb(225, 241, 255);
    --color-9: rgb(240, 243, 255);
    --shadow-2: rgba(0,0,0,0.25);
    --highlite-red: #FF4444;
    --highlite-orange: #FF8B1F;
    --highlite-yellow: #FFD600;
    --highlite-green: #93DB1D;
    --highlite-blue: rgb(19, 145, 255);
    --highlite-purple: #CC00FF;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Site wide elemenet styles */
a {
    color: var(--highlite-blue);
    text-decoration: none;
}
h1 {
    font-size: 3em;
    font-weight: 100;
    margin: 0 0 0.5em;
    color: var(--gray-3);
    vertical-align: center;
}
h1 span:first-of-type {
    font-size: 1em;
    position: relative;
    top: 10px;
    margin-right: 10px; 
}
h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 0.5em;
    padding: 0 0 0;
    color: var(--gray-3);
}
h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 1em 0 0.5em;
    color: var(--gray-3);
}
code {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
figure {
    display: inline-block;
    width: 30vmin;
    height: 30vmin;
    margin: 0 30px;
}
section {
    background-color: var(--gray-9);
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 2px var(--shadow-2);
    overflow: auto;
    margin-left: min(5vw, 20px);
    margin-right: min(5vw, 20px);
}

/* Tables, sticky headers, overflow scroll, rounded corners, stripes and highlights */
table {
    border-collapse: separate;
    border-spacing: 0;
    display: block;
    max-width: fit-content;
    max-height: 80vh;
    margin: 0 auto;
    overflow: auto;
    white-space: nowrap;
}
table tr th {
    position: sticky;
    top: 0;
    background-color: var(--color-9);
}
table tr th,
table tr td {
    border-right: 1px solid var(--gray-8);
    border-bottom: 1px solid var(--gray-8);
    padding: 8px 12px;
}
table tr th:first-child,
table tr td:first-child {
    border-left: 1px solid var(--gray-8);
}
table tr th:first-child,
table tr td:first-child {
    border-left: 1px solid var(--gray-8);
}
table tr th {
    text-align: left;
    border: 0.5px solid var(--gray-8);
}
table tr:first-child th:first-child {
    border-top-left-radius: 4px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 4px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}
table thead tr {
    background-color: var(--color-9);
    font-weight: 500;
    text-align: left;
}
table tbody tr:nth-child(even) {
    background-color: var(--color-9);
}
table tbody tr:hover {
    background-color: var(--color-8);
}

/* Body */
body {
    font-family: Roboto, "Microsoft Sans Serif", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: var(--gray-3);
    background-color: var(--color-9);
}

.success {
    color: var(--highlite-green);
}

dl {
    display: flex;
    flex-flow: column wrap;
    max-height: 2em;
}
dt {
    font-weight: 300;
    text-transform: uppercase;
}
dd {
    margin: 0;
}
sub, sup {
    font-size: 60%;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

b {
    font-weight: bolder;
}

/* Header */
header {
    background-color: var(--color-1);
    border: 1px solid var(--gray-2);
    margin: auto;
    vertical-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 1px 2px var(--shadow-2);
}
header a {
    color: var(--gray-7);
}
header a:hover {
    color: var(--gray-9);
}
header li.logo {
    color: var(--gray-9);
    font-size: 1.5em;
    font-weight: 300;
    margin-right: 30px;
}
header li.logo b {
    color: var(--highlite-blue);
    font-weight: 400;
}
header li.selected {
    position: relative;
}
header li.selected span.material-symbols-outlined,
header li.selected a {
    font-weight: 600;
    color: var(--gray-9);
}
header li.selected a::after {
    content: "◢◣";
    color: var(--gray-9); 
    position: absolute;
    letter-spacing: -2.5px;
    bottom: -8px;
    left: calc(50% - 0.5em);
}
header img {
    vertical-align: middle;
}
header nav ul {
    white-space: nowrap;
}
header li {
    display: inline-block;
    padding: 10px 10px;
    border-style: 1px solid var(--color-3);
    position: relative;
}
header a span.material-symbols-outlined {
    vertical-align: middle;
    font-size: 1em;
    padding: 3px;
    margin-top: -3px;
}

/* Main */
main {
    padding: 45px 0 0;
    margin: auto;
    overflow: visible;
    width: 100%;
    max-width: fit-content;
    background-color: var(--color-9);
}

/* Footer */
footer {
    height: 0;
}

@media only screen and (max-width: 690px) {
    header {
        top: unset;
        left: 0;
        bottom: 0;
        position: fixed;
        border: 0;
        padding: 0;
        width: 100%;
    }
    header nav a {
        font-size: 0;
    }
    header nav ul li.logo {
        display: none;
    }
    header nav ul li {
        width: 24%;
        padding: 15px 0;
        text-align: center;
    }
    header nav a span.material-symbols-outlined {
        font-size: 3rem;
    }
    main {
        padding: 0px 0 100px;
    }
    dl {        
        max-height: 6em;
    }
    dt {
        margin-top: 1em;
    }
    dt, dd {
        margin-right: 2em;
    }
    figure {
        display: inline-block;
        width: 75vmin;
        height: 75vmin;
        margin: 0 30px;
    }
    section {
        border-radius: 0;
        margin: 0 0 20px;
    }
}

@media only screen and (max-width: 300px) {
    dl {        
        max-height: 12em;
    }
    dt {
        margin-top: 1em;
    }
    dt, dd {
        margin-right: 2em;
    }
}


ol.model_list {
    width: 100%;
}
ol.model_list li {
    width: 100%;
}
ol.model_list h3 {
    display: inline;
    padding-top: 0.5em;
    height: 2.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ol.model_list li a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--gray-3);
    width: 100%;
    height: 2em;
    position: relative;
    margin: 0 -30px;
    padding: 0 30px;
}
ol.model_list li a:hover {
    height: 2em;
    background-color: var(--color-9);
}
ol.model_list li a span {
    padding-top: 0.5em;
    height: 1.5em;
}
ol.model_list li:nth-child(1) a span {
    height: 2.5em;
    padding-top: 1em;
}
ol.model_list li:nth-child(1) a span:nth-child(2) {
    text-align: left;
}
ol.model_list li:nth-child(1) a span b {
    position: relative;
    top: 0.4em;
}
ol.model_list li a span:nth-child(1) {
    width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
}
ol.model_list li a span:nth-child(2) {
    width: 3em;
    text-align: right;
}
ol.model_list li a figure {
    width: 50%;
    height: 2em;
    margin: 0 0 0 1em;
}

h2 span.material-symbols-outlined {
    margin: 0 5px 0 0;
}
