:root {
    --gray-0: #C8C8C8;
    --gray-1: #E7E7E7;
    --gray-2: #C8C8C8;
    --gray-3: #ADADAD;
    --gray-4: #929292;
    --gray-5: #808080;
    --gray-6: #606060;
    --gray-7: #373737;
    --gray-8: #1C1C1C;
    --gray-9: #050505;
    --color-1: #f3f3ff;
    --color-2: #cbe3ff;
    --color-3: #9999ff;
    --color-4: #7777ff;
    --color-5: #4444cc;
    --color-6: #3333aa;
    --color-7: #222288;
    --color-8: #111166;
    --color-9: #080810;
    --highlite-red: #FF4444;
    --highlite-orange: #FF8B1F;
    --highlite-yellow: #FFD600;
    --highlite-green: #93DB1D;
    --highlite-blue: #0065d8;
    --highlite-purple: #CC00FF;
}
