input {
    padding: 10px;
    font-size: 1em;
    outline: none;
    border: 1px solid var(--gray-8);
    border-radius: 1px;
}

.progress-bar {
    height: 25px;
    background-color: var(--gray-8);
    display: flex;
    align-items: center;
}

.progress-bar-loading {
    height: 25px;
    background-color: green;
    width: auto;
}

.progress-bar-progress {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.button-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container span {
    margin-left: 10px;
}

.input-container span.ok {
    color: green;
}

.input-container span.error {
    color: red;
}

button, a[role=button] {
    font-size: 1em;
    padding: 10px 25px;
    border: 1px solid var(--gray-7);
    background-color: var(--gray-8);
    color: initial;
}

button, a[role="button"] {
    cursor: pointer;
}

button:hover, a[role="button"]:hover {
    background-color: var(--gray-7);
}

button[disabled], button:disabled, a[disabled], a:disabled {
    cursor: not-allowed;
}

.hidden {
    display: none;
}

.object_list a.selected {
    background-color: var(--gray-8);
}

.algorithm_list, .objective_list {
    display: flex;
    flex-wrap: wrap;
}

.objective_list {
    justify-content: center;
}

.algorithm_list li, .objective_list li {
    display: flex;
}

.algorithm_list a, .objective_list a {
    border: 1px solid var(--gray-8);
    padding: 10px 15px;
    margin: 10px 15px; 
    color: var(--gray-3);
}

.algorithm_list a.selected {
    background-color: var(--gray-8);
}

.objective_list a.selected {
    background-color: var(--gray-8);
}
