#notifications-banner {
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
}

div[data-controller="notifications-banner"] {
    .btn-tertiary {
        border: 0px;
    }
    .news {
        background-color: #{$gray-100};
        color: #{$gray-900};
        .btn-tertiary:hover {
            filter: brightness(0.9);
        }
    }
    .blog {
        background-color: #{$neon-shade-100};
        .btn-tertiary {
            filter: brightness(1.5);
        }
    }
    .launch {
        background-color: #{$magenta-shade-200};
        .btn-tertiary {
            filter: brightness(1.5);
        }
    }
    .tip {
        background-color: #{$gray-900};
    }
    .level1 {
        background-color: #FFFF00;
        color: #{$gray-900};
    }
    .level2 {
        background-color: #FF6929;
        color: #{$gray-900};
    }
    .level3 {
        background-color: #{$peach-shade-200};
    }

    .close-dark {
        color: #{$gray-900};
    }
    .close-light {
        color: #{$gray-100};
    }
    .close-dark, .close-light {
        margin-left: -100%;
    }

    .message-area {
        max-width: 75vw;
    }

    .banner {
        min-height: 2rem;
    }
}
