# copy .env.TEMPLATE to .env if you'd like to customize settings
DJANGO_SECRET_KEY='insecure-development-key-for-django'
DJANGO_DEBUG='True'
DJANGO_ALLOWED_HOSTS='localhost, 127.0.0.1'
PGML_DATABASE_URL='postgres://postgres:password@127.0.0.1:5433/pgml_development'
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost
