{project_plugins, [{erlfmt, "~> 1.3"}]}.

{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [rebar3_cargo]}.

{cargo_opts, [
    {src_dir, "native/pgml"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}},
        {eunit, {cargo, test}}
    ]}
]}.

{erlfmt, [
    check,
    verbose,
    {files, ["src/*", "rebar.config"]}
]}.
