<% 
  use crate::components::tables::small::*;

  let heading_style = if style_type == "product" {
    "text-gradient-green h6 fw-semibold mb-0 "
  } else {
    "text-white h6 fw-semibold mb-0"
  };
%>

<div data-controller="tables-serverless-models" class="overflow-auto">
  <h4 class="<%- heading_style %>">Embedding Models</h4>
  <div class="mb-5">
    <%+ Table::new(&[
    "Name",
    "Parameters (M)",
    "Max input tokens",
    "Dimensions",
    "Strengths",
  ], &embedding_models) %>
  </div>

  <h4 class="<%- heading_style %>">Instruct Models</h4>
  <div class="mb-5">
    <%+ Table::new(&[
    "Name",
    "Parameters (B)",
    "Active Parameters (B)",
    "Context size",
    "Strengths",
  ], &instruct_models) %>
  </div>

  <h4 class="<%- heading_style %>">Summarization Models</h4>
  <div class="mb-5">
    <%+ Table::new(&[
    "Name",
    "Parameters (B)",
    "Context size",
    "Strengths",
  ], &summarization_models) %>
  </div>
</div>
