<nav data-controller="left-nav-menu" class="overflow-hidden">
    <ul class="nav flex-column justify-content-end">
        <% for link in nav.links { %>
        <% if !link.hide_for_lg_screens { %>
        <li class="menu-item leftnav-collapse-affect collapsed <% if link.disabled { %>disabled<% } %>" >
            <a
            data-left-nav-menu-target="link"
            class="d-flex align-items-center justify-content-start gap-3 <% if link.disabled  { %> disabled <% } %> <% if link.active { %> active <% } %>"
            href="<%= link.href %>"
            >
            <% if link.icon.as_ref().is_some() { %>
            <span class="material-symbols-outlined"><%- link.icon.unwrap() %></span>
            <% } %>
            <span class="collapse collapse-horizontal leftnav-collapse"><%= link.name %></span>
            </a>
        </li>
        <% } %>
        <% } %>
    </ul>
</nav>
