
[data-bs-theme="dark"] {
    --bs-heading-color: #{$gray-100};
    --bs-tertiary-bg: #{$gray-600};
    --bs-tertiary-color: #{$hp-white};

    --bs-body-bg: #{$gray-900};
    --bs-body-color: #{$gray-200};
    --bs-body-secondary-color: #{$gray-300};

    --bs-info-bg-subtle: transparent;
    --bs-info-border-subtle: #{$purple};
    --bs-info-text: #{$gray-100};

    --bs-success-bg-subtle: transparent;
    --bs-success-border-subtle: #{$purple};
    --bs-success-text: #{$gray-100};

    --bs-light-border-subtle: #{$gray-300};

    --bs-link-color: #{$purple};
    --bs-link-hover-color:#{$purple};

    --bs-secondary-color: #{$gray-300};

    .list-group-item {
        --bs-list-group-color: #{$hp-white};
    }

    --form-radio-bg: #{$neon-tint-100};
    --form-radio-hover-bg: #{$neon-tint-300};
    --form-radio-border-color: #{$neon-tint-100};
    --form-radio-hover-border-color: #{$neon-tint-300};
    --form-check-disable-color: #{$gray-200}; 
    --form-radio-checked-bg: #{$gray-100};

    --form-switch-default: #{$neon-tint-600};
    --form-switch-hover: #{$neon-tint-500};
    --form-switch-active: #{$neon-tint-100};

    .form-label {
        color: #{$gray-100};
    }

    --webapp-nav-bg: #{$gray-800};
    .navbar {

        .nav-link {
            --bs-nav-link-color: #{$gray-100};
            --bs-nav-link-hover-color: #{$purple};
        }
    }

    .bg-body-tertiary {
        background: $gradient-dark;

        p, ol, ul, li, table {
            color: #{$gray-100};
        }
    }

    code {
        --bs-code-color: #{$gray-100};
    }

    .card {
        --bs-card-bg: #{$gray-800};
        --bs-card-border-color: transparent;
        --bs-card-color: #DEE0E7;
    }

    .card-title {
        --bs-card-title-color: var(--bs-card-color);
    }

    .card-footer {
        --bs-card-cap-bg: var(--bs-card-bg);
    }
}
