[data-bs-theme="light"] {
    --bs-body-bg: #{$gray-100};
    --bs-body-color: #{$gray-900};
    --bs-body-color-rgb: rgb(17, 18, 19);

    --bs-heading-color: #{$gray-900};
    --bs-link-color: #{$purple};

    .card {
        --bs-card-color: #{$gray-900};
        --bs-card-border-color: transparent;
        --bs-card-bg: rgba(250, 250, 250, 0.7);
    }

    .list-group-item {
        --bs-list-group-item-color: #{$gray-900};
        --bs-list-group-color: #{$gray-900};
    }

    .btn-primary {
        --bs-btn-bg: #{$gray-900};
        --bs-btn-color: #{$gray-100};
        --bs-btn-border-color: #{$gray-100};
    }

    .btn-secondary {
        --bs-btn-color: #{$gray-900};
        --bs-btn-hover-color: #{$gray-900};
        --bs-btn-active-color: #{$gray-900};
    }
}
