[data-theme="marketing"] {

  --h1-big-font-size: 80px;
  --h1-font-size: 64px;
  --h2-font-size: 48px;
  --h3-font-size: 40px;
  --h4-font-size: 32px;
  --h5-font-size: 28px;
  --h6-font-size: 24px;
  --eyebrow-font-size: 18px;
  --legal-font-size: 12px;
  --body-large-font-size: 20px;
  --body-regular-font-size: 18px;
  --body-small-font-size: 16px;

  --h1-big-line-height: 84px;
  --h1-line-height: 72px;
  --h2-line-height: 54px;
  --h3-line-height: 46px;
  --h4-line-height: 40px;
  --h5-line-height: 34px;
  --h6-line-height: 30px;
  --eyebrow-line-height: 24px;
  --legal-line-height: 16px;
  --body-large-line-height: 26px;
  --body-regular-line-height: 22px;
  --body-small-line-height: 20px;

  --font-family-primary: 'silka', 'Roboto', 'sans-serif';
  --font-family-secondary: 'inter', 'sans-serif';
}
