[data-theme="product"] {
  --h1-big-font-size: 80px;
  --h1-font-size: 64px;
  --h2-font-size: 48px;
  --h3-font-size: 40px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 20px;
  --eyebrow-font-size: 14px;
  --legal-font-size: 12px;
  --body-large-font-size: 18px;
  --body-regular-font-size: 16px;
  --body-small-font-size: 14px;

  --h1-big-line-height: 84px;
  --h1-line-height: 72px;
  --h2-line-height: 54px;
  --h3-line-height: 46px;
  --h4-line-height: 36px;
  --h5-line-height: 30px;
  --h6-line-height: 24px;
  --eyebrow-line-height: normal;
  --legal-line-height: 16px;
  --body-large-line-height: 24px;
  --body-regular-line-height: 20px;
  --body-small-line-height: 18px;

  --font-family-primary: 'silka', 'Roboto', 'sans-serif';
  --font-family-secondary: 'inter', 'sans-serif';
}
