div[data-controller="cms-index-link"] {
  .level-1-list {
    margin-left: 16px;
  }

  .level-2-list, .level-3-list {
    margin-left: 4px; 
    padding-left: 10px;
    border-left: 1px solid #{$gray-600};
  }

  .nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .material-symbols-outlined {
    user-select: none;
  }
}
