<div class="container pt-4 pb-5">
  <div class="d-flex justify-content-center mt-5 mb-5">
    <h1 class="mt-5">Page Not Found</h1>
  </div>

  <div class="d-flex justify-content-center">
    <p class="text-white fs-5">Looks like the page you're looking for doesn't exist. It may have been moved, or it never existed, we truly don't know. Try looking in our <a href="/docs">documentation</a> or in our <a href="/blog/data-is-living-and-relational">blog</a>. We're also hanging out in <a href="https://discord.gg/DmyJP3qJ7U">Discord</a> and are happy to answer any questions!</p>
    </p>
  </div>
</div>

