<div data-controller="notebook">
  <section class="notebook-title">
    <div class="flex flex-center">
      <div class="notebook-render-container">
        <h1 class="flex-grow" data-action="click->notebook#renameNotebook" data-notebook-target="notebookName">
          <span class="material-symbols-outlined">newspaper</span>
          <%= notebook.name %>
        </h1>
      </div>
      <div class="notebook-buttons">
        <form class="hidden" action="/dashboard/notebooks/<%= notebook.id %>/rename" method="post" data-notebook-target="renameNotebookForm">
          <h1><input type="text" name="name" value="<%= notebook.name %>" required></h1>
        </form>
        <form action="/dashboard/notebooks/<%= notebook.id %>/reset" method="post">
          <button type="submit" title="Reset all executable cells">
            <span class="material-symbols-outlined">replay</span>
          </button>
        </form>
      </div>
    </div>
  </section>

  <% for cell in cells {
    let edit = false;
    let bust_cache = std::time::SystemTime::now()
        .duration_since(std::time::SystemTime::UNIX_EPOCH)
        .unwrap_or(std::time::Duration::from_millis(1000))
        .as_millis()
        .to_string();
    let selected = false;

    include!("cell.html");
  } %>

  <section class="notebook-last-cell notebook-cell" data-controller="notebook-cell">
    <div class="notebook-cell-edit">
      <form action="/dashboard/notebooks/<%= notebook.id %>/cell" method="post" data-notebook-cell-target="form" data-action="notebook-cell#freezeScrollOnNextRender notebook-cell#play">
        <div class="flex">
          <div class="flex-grow margin-right-1 CodeMirror cm-s-material-ocean CodeMirror-wrap">
            <textarea data-cell-id="new" name="contents" data-notebook-cell-target="editor"></textarea>
          </div>
          <div class="notebook-buttons flex-end">
            <select name="cell_type" id="cell_type" data-action="notebook-cell#selectCellType" title="Select cell type" data-notebook-cell-target="type">
              <option value="3" selected>SQL</option>
              <option value="1">Markdown</option>
            </select>
            <button type="submit" title="Create cell" data-notebook-cell-target="play">
              <span class="material-symbols-outlined">play_arrow</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
