<% use crate::components::*; 
use crate::components::tables::large::*;
use crate::components::navigation::tabs::*;
%>

<div class="min-height: 100vh;" data-controller="playground">
  <h3 class="h3">Playground</h3>

  <div class="mb-3">
    <%+ GithubIcon::new() %>
  </div>

  <div class="mb-3">
    <div class="row">
      <div class="col-6" style="min-height: 400px;">
        <%+ Dropdown::new(
          vec![
            StaticNavLink::new("Test".into(), "#test".into())
          ]
        ).collapsable()
        .icon(ProfileIcon::new().into()) %>
      </div>
      <div class="col-6" style="min-height: 400px;">
        <%+ Dropdown::new(
          vec![
            StaticNavLink::new("Test".into(), "#test".into())
          ]
        ).collapsable()
        .text("Dropdown".into()) %>
      </div>
      <div class="col-2" style="min-height: 400px;">
        <%+ Dropdown::new(
          vec![
            StaticNavLink::new("Really long title in the dropdown".into(), "#test".into()),
            StaticNavLink::new("Normal link".into(), "#test".into())
          ]
        ).collapsable()
        .text("Really long name in the dropdown".into()) %>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <%+ Tabs::new(
        &[
            Tab::new(
                "Test tab",
                Table::new(
                    &["Date", "Time", "Status"],
                    &[
                        Row::new(&[
                            "01/01/2022".into(),
                            "20:00:43.956373 +00:00:00 UTC".into(),
                            "Ready".into()
                        ])
                        .action("click->playground#selectRow"),
                        
                        Row::new(&[
                            "01/01/2022".into(),
                            "20:00:43.956373 +00:00:00 UTC".into(), "Ready".into()
                        ])
                        .action("click->playground#selectRow"),

                        Row::new(&[
                            "01/01/2022".into(),
                            "20:00:43.956373 +00:00:00 UTC".into(), "Ready".into()
                        ])
                        .action("click->playground#selectRow"),

                    ])
                    .selectable()
                    .into()
            ),
            Tab::new(
                "Second tab",
                "Second tab content".into()
            ),
            Tab::new(
                "Third active tab",
                "Hello third tab".into(),
            ),
        ]
    )
    .active_tab("Test tab") %>
  </div>
  <div class="mb-3">

  </div>
</div>
