<section>
  <h1><span class="material-symbols-outlined">apps</span><%= project.name %></h1>
  <dl>
    <dt>Created</dt>
    <dd><% project.created_at; %></dd>
  </dl> 

  <h2><span class="material-symbols-outlined">model_training</span>Models</h2>
  <ol class="object_list model_list">
    <li>
        <span></span>
        <span><b>Algorithm</b></span>
        <span><b><%- project.key_metric_display_name().unwrap() %></b></span>    
        <figure></figure>
    </li>
    <% for model in models.iter() { %>
    <li>
      <a href="/dashboard/models/<%= model.id %>">
        <span class="material-symbols-outlined">
          <% if model.search.is_some() { %>
            <% if model.search.as_ref().unwrap().as_str() == "grid" { %>
              grid_on
            <% } %>
            <% if model.search.as_ref().unwrap().as_str() == "random" { %>
              shuffle
            <% } %>
          <% } else { %>
            check_circle
          <% } %>
        </span>
        <span><%= model.algorithm %></span>
        <span><%= format!("{:.4}", model.key_metric(&project).unwrap()) %></span>
        <figure id="model_<%= model.id %>"></figure>
      </a>
    </li>
    <% } %>
  </ol>
</section>

<script defer type="module-shim">
  import * as Plotly from '@plotly/plotly'
  import { renderModel } from '/static/js/main.js';

  function renderCharts() {
  <% for model in models.iter() { %>
     renderModel(<%= model.id %>, <%= model.key_metric(&project).unwrap() %>, [0, 1]);
  <% } %>
  };
  renderCharts();
</script>
