<% let _execution_duration = execution_duration; %>

<% if columns.is_empty() { %>
<div class="markdown-body">
  <pre><code>OK</code></pre>
</div>

<% } else { %>

<div class="markdown-body">
  <table>
    <thead>
      <tr>
        <% for column in columns { %>
        <td><strong><%= column %></strong></td>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% for row in rows { %>
      <tr>
        <% for column in row { %>
        <td><%= column %></td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<% } %>
