
.breadcrumb {
  .breadcrumb-item {
      display: flex; 
      align-items: center;
      text-align: center;
      border: none;
      
      &:not(.active) a {
          @extend .btn-tertiary-web-app;
          padding: 0px;
      }

      &.active {
          a {
              color: #{$gray-100};
              border-bottom: none;
              
              &:hover {
                  @include semibold_by_shadow(#{$gray-100});
              }

              &:active {
                  @include bold_by_shadow(#{$gray-100});
              }

          }
      }
  }

  > *:not(:last-child) {
    &::after {
      content: '/';
      margin: 0 2px;
      color: #{$gray-600};
    }
  }

  li {
    display: flex;
    align-items: center;
  }
}
