<%
  use crate::utils::config;
  use crate::utils::urls;
  use crate::components::inputs::dropdown::inline::index::Index as Dropdown;

  let home_uri = if config::standalone_dashboard() {
    urls::deployment_notebooks()
  } else {
    "/deployments".to_string()
  };
%>

<nav>
  <nav aria-label="breadcrumb z-1">
    <ol class="breadcrumb">
      <% if !dropdown_1.links.is_empty() {%>
      <%+ Dropdown::new()
        .set_nav_items(dropdown_1.clone()) %>
      <% } %>

      <% if !dropdown_2.links.is_empty() {%>
        <div class="vr my-1 mx-2"></div>
      <%+ Dropdown::new()
        .set_nav_items(dropdown_2) %>
      <% } %>

      <% if !dropdown_1.links.is_empty() && !links.is_empty() {%>
      <div class="vr my-1 mx-2"></div> 
      <% } %>

      <% for link in links {
        let active = if link.active {
          "active"
        } else {
          ""
        };
  
        let area = if link.active {
          r#"aria-current="page""#
        } else {
          ""
        };
  
      %>
      <li class="breadcrumb-item body-regular-text <%= active %>" <%- area %>>
        <a href="<%= link.href %>">
          <%= link.name %>
        </a>
        <% if active.is_empty() { %>
        <div class="vr my-1 ms-2"></div>
        <% } %>
      </li>
      <% } %>
    </ol>
  </nav>
</nav>
