<%
  use crate::utils::config;
  use crate::utils::urls;
  use crate::components::dropdown::Dropdown;
%>

<nav>
  <nav aria-label="breadcrumb z-1">
    <ol class="breadcrumb gap-3">
      <% if !organizations.is_empty() {%>
      <li>
        <%+ Dropdown::nav(organizations).inline_style() %>
      </li>
      <% } %>

      <% if !databases.is_empty() {%>
      <li>
        <%+ Dropdown::nav(databases).inline_style() %>
      </li>
      <% } %>

      <% for link in path {
        let active = if link.active {
          "active"
        } else {
          ""
        };
  
        let area = if link.active {
          r#"aria-current="page""#
        } else {
          ""
        };
  
      %>
      <li class="breadcrumb-item body-regular-text <%= active %>" <%- area %>>
        <a href="<%= link.href %>">
          <%= link.name %>
        </a>
      </li>
      <% } %>
    </ol>
  </nav>
</nav>
