div[data-controller="inputs-text-input"] {
    --bs-danger: #{$peach-shade-100};

    span.inputs-text-input-icon{
        margin-left: -40px;
        color: #{$slate-shade-100};

        &.is-invalid {
            color: var(--bs-danger);
        }
    }

    input.form-control {
        padding-right: 52px;
        width: 100%;
    }

    label.form-label {
        font-weight: #{$font-weight-normal};
    }

    p {
        small {
            color: var(--bs-danger);
        }
    }
}
