{% load static %}
<!DOCTYPE html >
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Needs to be developed.">

        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=block" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

        <script defer type="text/javascript" src="{% static '/js/vendor/lodash-4.17.21.min.js' %}"></script>
        <script defer type="module" src="https://unpkg.com/stimulus@2.0.0/dist/stimulus.umd.js"></script>
        <script defer type="module" src="https://cdn.skypack.dev/pin/@hotwired/turbo@v7.0.0-rc.1-Vumm1JJjKMC0HM7D9Tjd/mode=imports/optimized/@hotwired/turbo.js"></script>
        <script defer type="module" src="{% static 'js/main.mjs' %}"></script>

        <title>
            {% if title %}
                {{title}}
            {% endif %}
            {% if title is None or "PostgresML" not in title %}
                {% if title is not None %}
                - 
                {% endif %}
                PostgresML
            {% endif %}
        </title>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li class="logo">
                        <a href="/">
                            <img height="24" width="20.47" alt="PostgresML Logo" src="{% static 'images/logo-small.png' %}" />
                            Postgres<b>ML</b>
                        </a>
                    </li>
                    <li{% if topic == "Projects" %} class="selected"{% endif %}><a href="/projects/"><span class="material-symbols-outlined">apps</span>Projects</a></li> 
                    <li{% if topic == "Models" %} class="selected"{% endif %}><a href="/models/"><span class="material-symbols-outlined">model_training</span>Models</a></li>
                    <li{% if topic == "Deployments" %} class="selected"{% endif %}><a href="/deployments/"><span class="material-symbols-outlined">inventory</span>Deployments</a></li>
                    <li{% if topic == "Snapshots" %} class="selected"{% endif %}><a href="/snapshots/"><span class="material-symbols-outlined">photo_camera</span>Snapshots</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer></footer>
    </body>
</html>
