
<% use crate::components::LeftNavMenu; %>
<div class="leftnav-container py-3 font-family-primary" data-controller="navigation-left-nav-web-app" data-turbo-permanent id='<%- id.unwrap_or_else(|| String::from("defaultId"))%>'>
  <nav 
    class="leftnav nav-pills h-100" 
    data-controller="extend-bs-collapse" 
    data-extend-bs-collapse-affected-value=".leftnav-collapse-affect" 
    data-action="mousemove@document->navigation-left-nav-web-app#checkIfHover">
    <div class="d-flex flex-column justify-content-between h-100 menu-container leftnav-collapse-affect collapsed">
      <div class="d-flex flex-column">
        <span class="leftnav-collapse collapse" data-extend-bs-collapse-target="stateReference" data-navigation-left-nav-web-app-target="stateReference"></span>
        <%+ LeftNavMenu { nav: upper_nav } %>
      </div>
    </div>
  </nav>
</div>
