{% extends "base.html" %}

{% block main %}
<section>
   <h1><span class="material-symbols-outlined">terminal</span>IDE</h1> 
</section>

<div data-controller="ide">
  <section>
    <textarea id="codemirror-ide" data-ide-target="code"></textarea>
    {% csrf_token %}

    <div class="button-container">
      <button data-action="click->ide#run" data-ide-target="run">Run</button>
    </div>

  </section>

  <section data-ide-target="resultSection" class="hidden" id="query-results">
    <h2>Result</h2>

    <div data-ide-target="result">

    </div>
    
  </section>

  <section class="hidden" data-ide-target="historySection">
    <h2>Query History</h2>

    <ol class="object_list query_list" data-ide-target="history">
    </ol>
    
  </section>

</div>

<section>
  <h2>Notebooks</h2>

  <ol class="object_list">
    {% for notebook in notebooks %}
    <li>
      <a href="{% url 'notebooks/notebook' notebook.pk %}" target="_blank" data-turbo="false">
        <span>
          {{ notebook.name }}
        </span>
      </a>
    </li>
    {% endfor %}
  </ol>
</section>

<section>
  <h2>New notebook</h2>

  <form action="{% url 'notebooks/create' %}" method="post" data-turbo="false" target="_blank">
    {% csrf_token %}

    <div class="input-container">
      <input type="text" name="name" placeholder="New unique notebook name" size="50" />
    </div>

    <div class="button-container">
      <button class="next" type="submit">Create notebook</button>
    </div>
  </form>
</section>
{% endblock %}
