{% extends "base.html" %}

{% block main %}
<section>
   <h1><span class="material-symbols-outlined">terminal</span>IDE</h1> 
</section>

<div data-controller="ide">
  <section>
    <textarea id="codemirror-ide" data-ide-target="code"></textarea>
    {% csrf_token %}

    <div class="button-container">
      <button data-action="click->ide#run" data-ide-target="run">Run</button>
    </div>

  </section>

  <section data-ide-target="resultSection" class="hidden" id="query-results">
    <h2>Result</h2>

    <div data-ide-target="result">

    </div>
    
  </section>

  <section class="hidden" data-ide-target="historySection">
    <h2>Query History</h2>

    <ol class="object_list query_list" data-ide-target="history">
    </ol>
    
  </section>

</div>

<script type="module">
  
</script>
{% endblock %}
