<% use crate::components::{LeftNavMenu, Dropdown}; %>
<nav class="leftnav nav-pills h-100" data-controller="extend-bs-collapse" data-extend-bs-collapse-affected-value=".leftnav-collapse-affect">
  <div class="d-flex flex-column justify-content-between h-100 w-100">
    <div class="d-flex flex-column">
      <button class="btn-left-nav-toggle mb-5" type="button" data-bs-toggle="collapse" data-bs-target=".leftnav-collapse" aria-expanded="true">
        <span class="collapse collapse-horizontal leftnav-collapse show" data-extend-bs-collapse-target="stateReference">
          Menu
        </span>
        <span class="left-nav-toggle-icon material-symbols-outlined leftnav-collapse-affect expanded">
          keyboard_double_arrow_left
        </span>
      </button>

      <div class="mb-4">
        <%+ Dropdown::new(dropdown_nav.links).collapsable() %>
      </div>
      <%+ LeftNavMenu { nav: upper_nav } %>
    </div>
    <%+ LeftNavMenu { nav: lower_nav} %>
  </div>
</nav>
