<div class="w-100 rounded-2 overflow-hidden" data-controller="search-button">
  <button type="text" class="border-0 p-0 w-100 btn-search-input-marketing" name="search" data-bs-toggle="modal" data-bs-target="#search" autocomplete="off" data-search-target="searchTrigger" data-action="search#openSearch">
    <div class="input d-flex flex-row p-1 ps-4">
      <div class="flex-grow-1 d-flex justify-content-start align-items-center">
        <div class="input-text">
          Search Docs
        </div>
      </div>
      <div class="btn btn-primary">
        <span class="material-symbols-outlined">search</span>
        Search
      </div>
    </div>
  </button>
</div>
