name: package extension (deb)

on:
  workflow_dispatch:
    inputs:
      packageVersion:
        default: "2.7.4"
      pythonVersion:
        default: "3.10"

jobs:
  extension:
    strategy:
      fail-fast: false # Let the other job finish
      matrix:
        os: ["buildjet-16vcpu-ubuntu-2204-arm", "buildjet-16vcpu-ubuntu-2204-arm"]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: pgml-extension
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: Validate cargo is working
      uses: postgresml/gh-actions-cargo@master
      with:
        working-directory: pgml-extension
        command: version
    - name: Install dependencies
      env:
        DEBIAN_FRONTEND: noninteractive
        TZ: Etc/UTC
      run: |
        git submodule update --init --recursive

        # PostgreSQL apt
        curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/apt.postgresql.org.gpg >/dev/null
        sudo sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'

        sudo apt-get install -y software-properties-common
        sudo add-apt-repository ppa:apt-fast/stable --yes
        sudo add-apt-repository ppa:deadsnakes/ppa --yes
        sudo apt update

        sudo apt-get install -y apt-fast
        sudo apt-get update && sudo apt-fast install -y \
          libopenblas-dev \
          libssl-dev \
          bison \
          flex \
          pkg-config \
          cmake \
          libreadline-dev \
          libz-dev \
          curl \
          lsb-release \
          tzdata \
          sudo \
          cmake \
          libpq-dev \
          libclang-dev \
          wget \
          postgresql-15 \
          postgresql-14 \
          postgresql-13 \
          postgresql-12 \
          postgresql-11 \
          postgresql-server-dev-15 \
          postgresql-server-dev-14 \
          postgresql-server-dev-13 \
          postgresql-server-dev-12 \
          postgresql-server-dev-11 \
          lsb-release \
          python3.10 \
          python3-pip \
          libpython3.10-dev \
          python3.10-dev \
          ruby \
          mold

        curl -sLO https://github.com/deb-s3/deb-s3/releases/download/0.11.4/deb-s3-0.11.4.gem
        sudo gem install deb-s3-0.11.4.gem
        dpkg-deb --version
    - name: Install pgrx
      uses: postgresml/gh-actions-cargo@master
      with:
        working-directory: pgml-extension
        command: install
        args: cargo-pgrx --version "0.9.8" --locked
    - name: pgrx init
      uses: postgresml/gh-actions-cargo@master
      with:
        working-directory: pgml-extension
        command: pgrx
        args: init --pg11=/usr/lib/postgresql/11/bin/pg_config --pg12=/usr/lib/postgresql/12/bin/pg_config --pg13=/usr/lib/postgresql/13/bin/pg_config --pg14=/usr/lib/postgresql/14/bin/pg_config --pg15=/usr/lib/postgresql/15/bin/pg_config
    - name: Build Postgres 11
      uses: postgresml/gh-actions-cargo@master
      with:
        working-directory: pgml-extension
        command: pgrx
        args: package --pg-config /usr/lib/postgresql/11/bin/pg_config
    - name: Build Postgres 12
      uses: postgresml/gh-actions-cargo@master
      with:
        working-directory: pgml-extension
        command: pgrx
        args: package --pg-config /usr/lib/postgresql/12/bin/pg_config
    - name: Build Postgres 13
      uses: postgresml/gh-actions-cargo@master
      with:
        working-directory: pgml-extension
        command: pgrx
        args: package --pg-config /usr/lib/postgresql/13/bin/pg_config
    - name: Build Postgres 14
      uses: postgresml/gh-actions-cargo@master
      with:
        working-directory: pgml-extension
        command: pgrx
        args: package --pg-config /usr/lib/postgresql/14/bin/pg_config
    - name: Build Postgres 15
      uses: postgresml/gh-actions-cargo@master
      with:
        working-directory: pgml-extension
        command: pgrx
        args: package --pg-config /usr/lib/postgresql/15/bin/pg_config
    - name: Build debs
      env:
        AWS_ACCESS_KEY_ID: ${{ vars.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}
      run: |
        for pg in {11..15}; do
          export PACKAGE_VERSION=${{ inputs.packageVersion }}
          export PGVERSION=${pg}

          if [[ $(arch) == "x86_64" ]]; then
            export ARCH=amd64
          else
            export ARCH=arm64
          fi

          mkdir -p target/release/pgml-pg${pg}/DEBIAN
          (cat control | envsubst) > target/release/pgml-pg${pg}/DEBIAN/control
          dpkg-deb --root-owner-group --build target/release/pgml-pg${pg} postgresql-pgml-${pg}_${PACKAGE_VERSION}-ubuntu22.04-${ARCH}.deb

          deb-s3 upload \
            --bucket apt.postgresml.org \
            postgresql-pgml-${pg}_${PACKAGE_VERSION}-ubuntu22.04-${ARCH}.deb \
            --codename $(lsb_release -cs)
        done
  package:
    needs: extension
    strategy:
      max-parallel: 1
      fail-fast: false # Let the other job finish, or they can lock each other out
      matrix:
        os: ["ubuntu-22.04", "buildjet-4vcpu-ubuntu-2204-arm"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      env:
        DEBIAN_FRONTEND: noninteractive
        TZ: Etc/UTC
      run: |
        curl -sLO https://github.com/deb-s3/deb-s3/releases/download/0.11.4/deb-s3-0.11.4.gem
        sudo gem install deb-s3-0.11.4.gem
        dpkg-deb --version
        sudo apt install -y python3-pip python3 python3-virtualenv
    - name: Build and release package
      env:
        AWS_ACCESS_KEY_ID: ${{ vars.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}
      run: |
        if [[ $(arch) == "x86_64" ]]; then
          export ARCH=amd64
        else
          export ARCH=arm64
        fi

        for pg in {11..15}; do
          bash packages/postgresml/build.sh ${pg} ${{ inputs.packageVersion }}-1 ${{ inputs.pythonVersion }}

          deb-s3 upload \
            --lock \
            --bucket apt.postgresml.org \
            postgresml-${pg}-${{ inputs.packageVersion }}-1-ubuntu22.04-${ARCH}.deb \
            --codename $(lsb_release -cs)

          rm -f postgresml-${pg}-${{ inputs.packageVersion }}-1-ubuntu22.04-${ARCH}.deb 
        done
  dashboard:
    strategy:
      fail-fast: false # Let the other job finish
      matrix:
        os: ["ubuntu-22.04", "buildjet-4vcpu-ubuntu-2204-arm"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: Install dependencies
      env:
        DEBIAN_FRONTEND: noninteractive
        TZ: Etc/UTC
      run: |
        curl -sLO https://github.com/deb-s3/deb-s3/releases/download/0.11.4/deb-s3-0.11.4.gem
        sudo gem install deb-s3-0.11.4.gem
        dpkg-deb --version
    - name: Build and release package
      env:
        AWS_ACCESS_KEY_ID: ${{ vars.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}
      run: |
        if [[ $(arch) == "x86_64" ]]; then
          export ARCH=amd64
        else
          export ARCH=arm64
        fi

        bash packages/postgresml-dashboard/build.sh ${{ inputs.packageVersion }}

        deb-s3 upload \
          --lock \
          --bucket apt.postgresml.org \
          postgresml-dashboard-${{ inputs.packageVersion }}-ubuntu22.04-${ARCH}.deb \
          --codename $(lsb_release -cs)
  publish-extension-docker-image:
    needs: package
    strategy:
      matrix:
        os: ["buildjet-4vcpu-ubuntu-2204"]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: pgml-extension/docker/postgresml
    steps:
      - uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        run: |
          docker run --privileged --rm tonistiigi/binfmt --install all
          docker buildx create --use --name mybuilder
          docker buildx build  \
            --platform linux/amd64,linux/arm64 \
            --tag ghcr.io/postgresml/postgresml:${{ inputs.packageVersion }} \
            --build-arg POSTGRESML_VERSION=${{ inputs.packageVersion }}-1 \
            --push .
